<div class="terms-and-conditions-container">
    <div class="container-inner">
        <h3 class="header uppercase">წესები და პირობები</h3>
        <p class="date">გამოქვეყნებულია: 03 აპრილი 2024</p>
        <div class="terms-and-conditions-text">
            <h2>წესები&nbsp;და&nbsp;პირობები</h2>
            <ol>
                <li><strong>შესავალი;</strong></li>
            </ol>
            <p>წინამდებარე&nbsp;წესები&nbsp;და&nbsp;პირობები&nbsp;და&nbsp;კონფიდენციალურობის&nbsp;პოლიტიკა,&nbsp;რომელიც&nbsp;განთავსებული&nbsp;დაგამოქვეყნებულია&nbsp;წინამდებარე&nbsp;ვებგვერდზე&nbsp;<a
                    target="_blank" rel="noopener noreferrer" href="http://www.europop.ge/">www.europop.ge</a>
                (შემდგომში
                „ვებგვერდი“)&nbsp;და&nbsp;აპლიკაციაში -&nbsp;Europop (შემდგომში
                „აპლიკაცია“)&nbsp;წარმოადგენს&nbsp;კომპანიასა&nbsp;და&nbsp;მომხმარებელს&nbsp;შორის&nbsp;
                გაფორმებულსამომხმარებლო&nbsp;შეთანხმებას,&nbsp;რომელიც&nbsp;განსაზღვრავს&nbsp;მომხმარებლის&nbsp;მიერ&nbsp;აპლიკაციასა&nbsp;და&nbsp;ვებგვერდზერეგისტრაციის,&nbsp;ავტორიზაციის&nbsp;წესებს.&nbsp;ვებგვერდზე&nbsp;რეგისტრაციით&nbsp;მომხმარებელი&nbsp;ადასტურებს,&nbsp;რომ&nbsp;გაეცნოვებგვერდისა&nbsp;და&nbsp;აპლიკაციით&nbsp;სარგებლობის&nbsp;წესებსა&nbsp;და&nbsp;პირობებს&nbsp;და&nbsp;კონფიდენციალურობის&nbsp;პოლიტიკას&nbsp;დაეთანხმება&nbsp;მას.
                &nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>2. ნებართვები;</strong></p>
            <p>კომპანია&nbsp;ყოველთვის&nbsp;მოქმედებს&nbsp;საქართველოს&nbsp;კანონმდებლობასთან&nbsp;შესაბამისობაში.&nbsp;წინამდებარევებგვერდი&nbsp;ან/და&nbsp;აპლიკაცია&nbsp;წარმოადგენს&nbsp;შპს&nbsp;ევროპაბეთის
                (ს/ნ 240420647) (შემდგომში
                „კომპანია“)&nbsp;საკუთრებას,&nbsp;მასზე&nbsp;განთავსებული&nbsp;ნებისმიერი&nbsp;სახის&nbsp;ინფორმაცია,&nbsp;მონაცემი,&nbsp;ფოტო&nbsp;თუ&nbsp;ვიდეო&nbsp;მასალა&nbsp;არისკომპანიის&nbsp;საკუთრება&nbsp;ან&nbsp;განთავსებულია&nbsp;მესამე&nbsp;პირების&nbsp;საავტორო&nbsp;უფლებებების&nbsp;დაცვით&nbsp;და&nbsp;ავტორისმითითებით,&nbsp;შესაბამისად,&nbsp;ვებ&nbsp;გვერდსა&nbsp;თუ&nbsp;აპლიკაციაში&nbsp;განთავსებული&nbsp;მასალის&nbsp;გავრცელება,&nbsp;გამოყენება,&nbsp;გადამუშავება&nbsp;ნებისმიერი&nbsp;კომერციული&nbsp;მიზნით&nbsp;გამოყენება&nbsp;კომპანიის&nbsp;ან&nbsp;მისი&nbsp;მესაკუთრის&nbsp;თანხმობისგარეშე&nbsp;დაუშვებელია.&nbsp;იმ&nbsp;შემთხვევაში,&nbsp;თუ&nbsp;მოხდება&nbsp;ინფორმაციის&nbsp;გავრცელება&nbsp;კომპანიის&nbsp;ან&nbsp;მესაკუთრისთანხმობით,&nbsp;ინფორმაციის&nbsp;გამავრცელებელი&nbsp;ვალდებულია&nbsp;მიუთითოს&nbsp;ინფორმაციის&nbsp;წყარო.&nbsp;
            </p>
            <p>&nbsp;</p>
            <p><strong>3. რეგისტრაციის&nbsp;წესი;</strong></p>
            <p>კომპანია&nbsp;ვებგვერდსა&nbsp;და&nbsp;აპლიკაციაში&nbsp;განათავსებს&nbsp;ორი&nbsp;ტიპის&nbsp;კონტენტს,&nbsp;ერთი&nbsp;მათგანი&nbsp;საჯაროანებისმიერი&nbsp;ადამიანისთვის,&nbsp;ხოლო&nbsp;მეორე&nbsp;ტიპის&nbsp;კონტენტი
                -
                e+&nbsp;ხელმისაწდომი&nbsp;იქნება&nbsp;მხოლოდრეგისტრირებული&nbsp;მომხმარებლისთვის.&nbsp;e+&nbsp;კონტენტად&nbsp;მიჩნეული&nbsp;იქნება&nbsp;ევროპოპის&nbsp;ანალიტიკური&nbsp;სტატიები,&nbsp;ქვიზები,&nbsp;ბლოგ&nbsp;პოსტები&nbsp;და&nbsp;კომპანიის&nbsp;გადაწყვეტილებით&nbsp;ნებისმიერი&nbsp;სხვა&nbsp;მასალა.&nbsp;
            </p>
            <p>ვებგვერდსა&nbsp;და&nbsp;აპლიკაციაში&nbsp;განთავსებული&nbsp;ახალი&nbsp;ამბების&nbsp;და&nbsp;ვიდეოების&nbsp;სანახავად&nbsp;არ&nbsp;არისსავალდებულო&nbsp;რეგისტრაცია.&nbsp;
            </p>
            <p>დარეგისტრირებულ&nbsp;მომხმარებლებს&nbsp;საშუალება&nbsp;ექნებათ&nbsp;ვებგვერდსა&nbsp;და&nbsp;აპლიკაციაში&nbsp;გაეცნონ&nbsp;ექსკლუზიურკონტენტს&nbsp;e+.&nbsp;
            </p>
            <p>მომხმარებელს&nbsp;შეუძლია&nbsp;ვებგვერდსა&nbsp;და&nbsp;აპლიკაციაში&nbsp;ისარგებლოს&nbsp;საერთო&nbsp;პროფილით.&nbsp;ვებგვერდსა&nbsp;დააპლიკაციაში&nbsp;არ&nbsp;არის&nbsp;სავალდებულო&nbsp;ცალ-ცალკე&nbsp;რეგისტრაცია.&nbsp;მომხმარებლის&nbsp;მიერ&nbsp;ერთ,&nbsp;რომელიმეპლატფორმაზე&nbsp;შექმნილი&nbsp;პროფილი&nbsp;აქტიური&nbsp;იქნება&nbsp;მეორე&nbsp;პლატფორმისთვისაც.&nbsp;
            </p>
            <p>რეგისტრაციისთვის&nbsp;მომხმარებელმა&nbsp;უნდა&nbsp;მიუთითოს&nbsp;შემდეგი&nbsp;სავალდებულო&nbsp;ინფორმაცია:&nbsp;
            </p>
            <ul>
                <li>ელფოსტა;</li>
                <li>პაროლი;</li>
                <li>ელფოსტის&nbsp;ვერიფიკაცია&nbsp;ერთჯერადი&nbsp;კოდით;</li>
                <li>მეტსახელი;&nbsp;</li>
                <li>ავატარი
                    (მომხმარებელს&nbsp;შეუძლია&nbsp;აირჩიოს&nbsp;შეთავაზებული&nbsp;ავატარებიდან&nbsp;ერთ-ერთი&nbsp;ან&nbsp;ატვირთოსთავისი&nbsp;ფოტო);
                </li>
            </ul>
            <p>მომხმარებელი&nbsp;უფლებამოსილია&nbsp;საკუთარი&nbsp;გადაწყვეტილებით,&nbsp;რეგისტრაციისას&nbsp;მიუთითოსარასავალდებულო&nbsp;ინფორმაცია
                (ამგვარი&nbsp;ველები&nbsp;შესაბამისად&nbsp;არის&nbsp;მონიშნული).&nbsp;არასავალდებულოინფორმაცია&nbsp;შეიძლება&nbsp;იყოს:
            </p>
            <ul>
                <li>მობილურის&nbsp;ნომერი;</li>
                <li>მობილურის&nbsp;ნომრის&nbsp;ვერიფიკაცია
                    (ნომრის&nbsp;მითითების&nbsp;შემთხვევაში)&nbsp;ერთჯერადი&nbsp;კოდით;
                </li>
            </ul>
            <p>მომხმარებელი&nbsp;უფლებამოსილია&nbsp;საკუთარი&nbsp;გადაწყვეტილებით,&nbsp;რეგისტრაციის&nbsp;შემდეგ,&nbsp;ნებისმიერ&nbsp;დროსავტორიზებული&nbsp;გვერდის&nbsp;პროფილში&nbsp;მიუთითოს,&nbsp;განაახლოს&nbsp;მობილურის&nbsp;ნომერი&nbsp;და&nbsp;განახორციელოსმითითებული&nbsp;მობილურის&nbsp;ნომრის&nbsp;ვერიფიკაცია.&nbsp;
            </p>
            <p>&nbsp;</p>
            <p><strong>4. ავტორიზაციის&nbsp;წესი;</strong></p>
            <p>ვებგვერდსა&nbsp;და&nbsp;აპლიკაციაში&nbsp;ავტორიზაციისთვის&nbsp;მომხმარბელმა&nbsp;უნდა&nbsp;მიუთითოს&nbsp;შემდეგი&nbsp;ინფორმაცია:&nbsp;
            </p>
            <ul>
                <li>ელფოსტა</li>
                <li>პაროლი</li>
            </ul>
            <p>იმ&nbsp;შემთხვევაში,&nbsp;თუ&nbsp;მომხმარებელი&nbsp;ვერ&nbsp;ახერხებს&nbsp;ვებგვერდზე&nbsp;ან/და&nbsp;აპლიკაციაში&nbsp;ავტორიზაციას,&nbsp;მასშეუძლია&nbsp;მოითხოვოს&nbsp;პაროლის&nbsp;აღდგენა.&nbsp;მომხმარებელი&nbsp;უფლებამოსილია&nbsp;აღადგინოს&nbsp;მხოლოდ&nbsp;პაროლი,&nbsp;შეუძლებელია&nbsp;მის&nbsp;მიერ&nbsp;მითითებული&nbsp;ელ-ფოსტის&nbsp;აღდგენა.&nbsp;ასეთ&nbsp;დროს,&nbsp;მომხმარებელს&nbsp;შეუძლია&nbsp;თავიდანგაიაროს&nbsp;რეგისტრაცია.&nbsp;
            </p>
            <p>პაროლის&nbsp;აღდგენა&nbsp;შესაძლებელია&nbsp;ქვემოთ&nbsp;მითითებული&nbsp;ერთ-ერთი&nbsp;გზით:</p>
            <ul>
                <li>აღდგენა&nbsp;ელფოსტით
                    -&nbsp;ერთჯერადი&nbsp;კოდი&nbsp;იგზავნება&nbsp;მომხმარებლის&nbsp;ანგარიშში&nbsp;მითითებულელფოსტაზე.&nbsp;ელფოსტაზე&nbsp;მიღებული&nbsp;კოდის&nbsp;სწორად&nbsp;შეყვანის&nbsp;შემთხვევაში,&nbsp;სისტემა&nbsp;მას&nbsp;მისცემსპაროლის&nbsp;აღდგენის&nbsp;შესაძლებლობას.&nbsp;
                </li>
                <li>
                    <p>აღდგენა&nbsp;მობილურის&nbsp;ნომრით
                        <i>(მხოლოდ&nbsp;იმ&nbsp;შემთხვევაში,&nbsp;თუ&nbsp;მომხმარებელმა&nbsp;მიუთითანომერი&nbsp;და&nbsp;მოახდინა&nbsp;მისი&nbsp;ვერიფიცირება)</i>
                        -&nbsp;ერთჯერადი&nbsp;კოდი&nbsp;იგზავნება&nbsp;მომხმარებლისანგარიშში&nbsp;მითითებულ&nbsp;ტელეფონის&nbsp;ნომერზე.&nbsp;ტელეფონის&nbsp;ნომერზე&nbsp;მიღებული&nbsp;კოდის&nbsp;სწორადშეყვანის&nbsp;შემთხვევაში,&nbsp;სისტემა&nbsp;მას&nbsp;მისცემს&nbsp;პაროლის&nbsp;აღდგენის&nbsp;შესაძლებლობას.
                    </p>
                    <p>&nbsp;</p>
                </li>
            </ul>
            <p><strong>5. ვებგვერდი/აპლიკაცია&nbsp;და&nbsp;მასზე&nbsp;განთავსებული&nbsp;მასალა;</strong></p>
            <p>მომხმარებელს&nbsp;შეუძლია&nbsp;ვებგვერდის&nbsp;და&nbsp;აპლიკაციის&nbsp;გამოყენებისას&nbsp;გაეცნოს&nbsp;მათზე&nbsp;განთავსებულექსკლუზიურ
                (მხოლოდ&nbsp;რეგისტრირებული&nbsp;და&nbsp;ავტრიზებული&nbsp;მომხმარებლებისთვის)&nbsp;და&nbsp;არაექსკლუზიურკონტენტს,&nbsp;ასევე&nbsp;ჩაერთოს&nbsp;შემდეგი&nbsp;სახით:
            </p>
            <ul>
                <li>ევროპოპის&nbsp;კონტენტი -&nbsp;წაკითხვა,&nbsp;მოსმენა,&nbsp;ყურება,&nbsp;გაზიარება;</li>
                <li>ქვიზებში&nbsp;მონაწილეობის&nbsp;მიღება -&nbsp;შედეგების&nbsp;ნახვა&nbsp;და&nbsp;გაზიარება;</li>
                <li>კონტენტის&nbsp;დალაიქება;</li>
                <li>ინტერესების&nbsp;გამოწერა&nbsp;და&nbsp;გამოწერის&nbsp;გაუქმება;</li>
                <li>ნიუსლეთერის&nbsp;გამოწერა&nbsp;და&nbsp;გამოწერის&nbsp;გაუქმება;</li>
                <li>აპლიკაციაში&nbsp;შეტყობინებების&nbsp;ჩართვა&nbsp;და&nbsp;გამორთვა;</li>
                <li>ავატარის&nbsp;შეცვლა;</li>
                <li>კონტენტის&nbsp;ქვეშ&nbsp;კომენტარის&nbsp;დატოვება;</li>
                <li>სხვისი&nbsp;კომენტარის&nbsp;ქვეშ&nbsp;პასუხის&nbsp;დატოვება;</li>
                <li>საკუთარი&nbsp;კომენტარის&nbsp;რედაქტირება;</li>
                <li>საკუთარი&nbsp;კომენტარის&nbsp;წაშლა;</li>
                <li>საკუთარი&nbsp;ან&nbsp;სხვისი&nbsp;კომენტარის&nbsp;დალაიქება;</li>
                <li>მომხმარებელს&nbsp;მხოლოდ&nbsp;აპლიკაციაში&nbsp;შეუძლია&nbsp;ევროპოპის&nbsp;მიერ&nbsp;გაზიარებული&nbsp;სთორების&nbsp;ნახვა,&nbsp;მათიგაზიარება&nbsp;და&nbsp;სთორებში&nbsp;გამოკითხვებში&nbsp;მონაწილეობის&nbsp;მიღება;
                </li>
            </ul>
            <p>მომხმარებელი&nbsp;ვალდებულია&nbsp;აპლიკაციასა&nbsp;და&nbsp;ვებ&nbsp;გვერდზე&nbsp;სხვა&nbsp;მომხმრებელთან,&nbsp;ასევე&nbsp;თავადკომპანიასთან&nbsp;ნებისმიერი&nbsp;ინტერაქციისას&nbsp;დაიცვას&nbsp;საქართველოს&nbsp;კანონმდებლობა,&nbsp;არ&nbsp;განათავსოსშეურაცხმყოფელი,&nbsp;დამამცირებელი,&nbsp;დისკრიმინაციული&nbsp;შინაარსის&nbsp;კომენტარები.&nbsp;ნებისმიერი&nbsp;მსგავსიდარღვევის&nbsp;აღმოჩენის&nbsp;შემთხვევაში,&nbsp;კომპანია&nbsp;უფლებამოსილია&nbsp;წაშალოს&nbsp;კომენტარი,&nbsp;წაშალოს&nbsp;ავატარიმომხმარებელს&nbsp;შეუზღუდოს&nbsp;კომენტარების&nbsp;დატოვების&nbsp;შესაძლებლობა,&nbsp;მომხმარებელს&nbsp;შეუზღუდოსაპლიკაციითა&nbsp;და&nbsp;ვებგვერდით&nbsp;სარგებლობა
                (ავტორიზაციის&nbsp;განხორციელების&nbsp;შესაძლებლობა).&nbsp;კომპანიააღნიშნულ&nbsp;გადაწყვეტილებას&nbsp;იღებს&nbsp;საკუთარი&nbsp;შეხედულებისამებრ.
            </p>
            <p>&nbsp;</p>
            <p><strong>6. ანგარიშის&nbsp;მართვა&nbsp;და&nbsp;უსაფრთხოება</strong></p>
            <p>წინამდებარე&nbsp;ვებგვერდზე&nbsp;ან/და&nbsp;აპლიკაციაში&nbsp;რეგისტრაციით&nbsp;მომხმარებელი&nbsp;აცხადებს&nbsp;თანხმობას&nbsp;დაადასტურებს,&nbsp;რომ&nbsp;იგი&nbsp;თავად&nbsp;არის&nbsp;პასუხისმგებელი&nbsp;თავისი&nbsp;ანგარიშის&nbsp;უსაფრთხოებაზე.&nbsp;იგი&nbsp;ვალდებულია&nbsp;არგადასცეს&nbsp;სხვა&nbsp;ნებისმიერ&nbsp;მესამე&nbsp;პირს&nbsp;თავისი&nbsp;ანგარიშის&nbsp;მონაცემები&nbsp;და&nbsp;ასეთი&nbsp;გადაცემის&nbsp;შემთხვევაშითავად&nbsp;იღებს&nbsp;პასუხისმგებლობას&nbsp;ნებისმიერ&nbsp;შედეგზე.&nbsp;
            </p>
            <p>ამასთან,&nbsp;კომპანია&nbsp;იტოვებს&nbsp;უფლებას&nbsp;მომხმარებელის&nbsp;მიერ&nbsp;მითითებულ&nbsp;ელექტრონულ&nbsp;ფოსტაზე&nbsp;ან/დატელეფონის&nbsp;ნომერზე&nbsp;გააგზავნოს&nbsp;საინფორმაციო&nbsp;ან/და&nbsp;სარეკლამო&nbsp;ხასიათის&nbsp;სმს-ები&nbsp;ან/და&nbsp;ელექტრონულიწერილები&nbsp;ან/და&nbsp;გამოიყენოს&nbsp;აღნიშნული&nbsp;მონაცემები&nbsp;პირდაპირი&nbsp;მარკეტინგული&nbsp;მიზნებისათვის.&nbsp;თუმომხმარებელს&nbsp;აღარ&nbsp;სურს&nbsp;მარკეტინგული&nbsp;მონაცემებისათვის&nbsp;საკონტაქტო&nbsp;მონაცემების&nbsp;გამოყენება,&nbsp;მომხმარებელი&nbsp;უფლებამოსილია&nbsp;მიმართოს&nbsp;კომპანიას&nbsp;შესაბამისი&nbsp;გამოწერის&nbsp;გაუქმების&nbsp;მოთხოვნით.&nbsp;აღნიშნული&nbsp;მოთხოვნის&nbsp;დამუშავებას&nbsp;შესაძლებელია&nbsp;დასჭირდეს
                5 (ხუთი)&nbsp;სამუშაო&nbsp;დღემდე.&nbsp;</p>
            <p>მომხმარებელი უფლებამოსილია საკუთარი გადაწყვეტილებით ნებისმიერ დროს დახუროს მისი ანგარიში. ანგარიშის
                დახურვა
                შესაძლებელია, როგორც აპლიკაციაში, ასევე, ვებგვერდის მეშვეობით. ანგარიშის დასახურად მომხმარებელმა მის
                ავტორიზებულ
                პროფილში შესაბამისი ველის არჩევით უნდა გამოხატოს ანგარიშის დახურვის გადაწყვეტილება, ხოლო შემდეგ
                შესაბამის
                ღილაკზე დაჭერით დაადასტუროს, რომ მას ნამდვილად სურს ანგარიშის დახურვა. ანგარიშის დახურვის შემთხვევაში,
                მომხმარებელი ვეღარ ისარგებლებს ვებგვერდით და აპლიკაციით სრულად, მისთვის არ იქნება ხელმისაწვდომი
                რეგისტრირებული
                მომხმარებლისთვის არსებული ბენეფიტები.&nbsp;</p>
            <p>დახურული ანგარიშის აღდგენა არ ხდება. ანგარიშის დახურვის შემთხვევაში, მომხმარებელი ნებისმიერ დროს
                უფლებამოსილია
                კვლავ დარეგისტრირდეს ვებგვერდზე/აპლიკაციაში (გამოიყენოს იგივე ელ ფოსტა, მეტსახელი, ტელეფონის ნომერი).
            </p>
            <p>&nbsp;</p>
            <p><strong>7. ცვლილებები;</strong></p>
            <p>წინამდებარე&nbsp;საიტის&nbsp;წესები&nbsp;და&nbsp;პირობები&nbsp;პერიოდულად&nbsp;შესაძლებელია&nbsp;განახლდეს,&nbsp;რომლის&nbsp;უფლებაც&nbsp;აქვსკომპანიას&nbsp;ცალმხრივად,&nbsp;მომხმარებელი&nbsp;ვალდებულია&nbsp;პერიოდულად&nbsp;გაეცნოს&nbsp;შეცვლილ&nbsp;წესებსა&nbsp;დაპირობებს&nbsp;და&nbsp;ვებგვერდისა&nbsp;და&nbsp;აპლიკაციის&nbsp;გამოყენების&nbsp;გაგრძელება&nbsp;ჩაითვლება&nbsp;განახლებულ&nbsp;პირობებზეთანხმობად.&nbsp;
            </p>
            <p>&nbsp;</p>
            <p><strong>8. გარდამავალი&nbsp;დებულებები;</strong></p>
            <p>აპლიკაციასა&nbsp;და&nbsp;ვებგვერდზე&nbsp;განთავსებულია&nbsp;წესები&nbsp;და&nbsp;პირობები&nbsp;და&nbsp;კონფიდენციალუობის&nbsp;პოლიტიკაქართულ&nbsp;და&nbsp;ინგლისურ&nbsp;ენებზე.&nbsp;თარგმანებს&nbsp;შორის&nbsp;შეუსაბამობის&nbsp;შემთხვევაში,&nbsp;უპირატესობა&nbsp;ენიჭებაქართულ&nbsp;ვერსიას.&nbsp;
            </p>
            <p>&nbsp;</p>
            <h2><strong>Terms and Conditions</strong></h2>
            <ol>
                <li><strong>Introduction;</strong></li>
            </ol>
            <p>These terms and conditions and the privacy policy, which is placed and published on this website&nbsp;<a
                    target="_blank" rel="noopener noreferrer" href="http://www.europop.ge/">www.europop.ge</a> (from now
                on
                "Website") and in the application - Europop (from now on "Application") represent a consumer agreement
                concluded
                between the&nbsp;Company and the user, determining the rules of registration and authorization and
                general use
                of the Website and Application. By registering on the Website/Application, the user confirms that he/she
                is
                aware of the terms and conditions for using the Website and the Application, and the Privacy Policy and
                agrees
                to it.</p>
            <p>&nbsp;</p>
            <p><strong>2. Licenses;</strong></p>
            <p>The Company always acts in compliance with the legislation of Georgia. This Website and/or Application is
                the
                property of LLC Europebet (ID 240420647) (hereinafter referred to as the "Company"), any information,
                data,
                photo, or video material available on the Website/Application is the property of the Company or is
                protected
                copyright material of the third parties that are published under their consent and with reference to the
                author.
                Respectively&nbsp;distributing, using, or processing the materials posted on the Website or Application
                for any
                commercial purpose without the consent of the Company or its owner is not permitted. In case the
                information is
                distributed with the consent of the Company or the owner, the information distributor is obliged to
                indicate the
                source of the information.</p>
            <p>&nbsp;</p>
            <p><strong>3. Registration rules;</strong></p>
            <p>The Company will publish two types of content on the Website and Application, one of which is public for
                anyone,
                and the second type of content - e+ will be available only to registered users. e+ content will include
                analytical articles, quizzes, blog posts of Europop, and any other content by the Company's decision.
            </p>
            <p>You should not have to register to view the news and videos posted on the Website and Application.</p>
            <p>Registered users will have a possibility to read exclusive e+ content on the Website and Application.</p>
            <p>The user can use the same profile on the Website and in the Application. Separate registration is not
                obligatory
                on the Website and in the Application. A profile created by a user on one platform will be active on the
                other
                platform as well.</p>
            <p>The user must indicate the following mandatory information for registration:</p>
            <ul>
                <li>e-mail;</li>
                <li>Password;</li>
                <li>Email verification with a one-time code;</li>
                <li>Username;</li>
                <li>Avatar (the user can select one of the offered avatars or upload his/her photo);</li>
            </ul>
            <p>The user is authorized, at his/her discretion, to specify optional information during registration (such
                fields
                are marked accordingly). Optional information may include:</p>
            <ul>
                <li>Mobile number;</li>
                <li>Mobile number verification (if the number is indicated) with a one-time code;</li>
            </ul>
            <p>At any time after the registration, the user is authorized, at his/her decision, to indicate mobile
                number in the
                authorized profile, to update the mobile number and to verify indicated mobile number.</p>
            <p>&nbsp;</p>
            <p><strong>4. Authorization rules;</strong></p>
            <p>For authorization in the website and application, the user must indicate the following information:</p>
            <ul>
                <li>E-mail</li>
                <li>Password</li>
            </ul>
            <p>If the user fails to sign in to her/his profile in the Website and/or Application, he/she can request
                restoring a
                password. The user is authorized to restore only the password, it is impossible to restore the e-mail
                indicated
                by him/her. In such a case, the user can reregister on the Website or in the Application.&nbsp;</p>
            <p>The password can be restored via one of the following ways:</p>
            <ul>
                <li>by e-mail - a one-time code is sent to the e-mail indicated in the user's account. If the code
                    received in
                    e-mail is entered correctly, the system will allow him/her to restore the password.&nbsp;</li>
                <li>
                    <p>by mobile number (<i>only if the user has indicated and verified mobile number</i>) - a one-time
                        code is
                        sent to the phone number indicated in the user's account. If the code received on the mobile
                        number is
                        entered correctly, the system will allow him/her to restore the password.</p>
                    <p>&nbsp;</p>
                </li>
            </ul>
            <p><strong>5. Content of the Website and Application;</strong></p>
            <p>The user can read the exclusive (only for registered and authorized users) and non-exclusive content, as
                well as
                participate in the following ways on the Website/Application:</p>
            <ul>
                <li>Europop content – to read, listen, watch and share;</li>
                <li>Participating in quizzes – to view and share;</li>
                <li>Possibility to like the content;&nbsp;</li>
                <li>Subscription to the interests and cancelation the subscription;</li>
                <li>Subscription and cancelation the newsletter;</li>
                <li>Turning on and off the notifications in the application;</li>
                <li>Changing avatar;&nbsp;</li>
                <li>Leaving a comment under the content;</li>
                <li>Leaving a reply under another person’s comment;</li>
                <li>Editing own comment;</li>
                <li>Deleting own comment;&nbsp;</li>
                <li>Liking own or another person’s comment;</li>
                <li>Only in the Application - the user can view the stories shared by Europop, share them, and
                    participate in
                    enquires;</li>
            </ul>
            <p>The user is obliged to follow the legislation of Georgia during any interaction with other users, as well
                as with
                the company itself, not to post offensive, humiliating, or discriminatory comments. In case of detecting
                any
                such violation, the company has the right to delete the comment, delete the avatar, restrict the user's
                ability
                to leave comments and restrict the user from using the Application and the Website (the possibility of
                authorization). The company makes such decisions at its sole discretion.&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>6. Account management and security;</strong></p>
            <p>By registering on this Website and/or Application, the user agrees and confirms that he/she is
                responsible for
                the security of his/her account. He/she is obliged not to transfer his/her account data to any other
                third
                party, and in case of such transfer, he/she is responsible for any results.</p>
            <p>Besides, the Company reserves the right to send informational and/or commercial text messages and/or
                emails to
                the user’s e-mail and/or phone number and/or to use such data for direct marketing purposes. If the user
                refuses
                to use the contact data for marketing purposes, the user has the right to address the company with a
                request to
                cancel the subscription. It will take up to 5 (five) business days to process this request.&nbsp;</p>
            <p>The user is entitled to delete the account at any time at own discretion. The account can be deleted both
                in the
                application and through the website. To delete the account, the user must indicate this decision by
                selecting
                the relevant field in the authorized profile, and then confirm that he really wants to delete the
                account by
                pressing the relevant button. In case of account deletion, the user will no longer be able to use the
                website
                and the application in full, the benefits available to the registered user will not be available further
                to
                account deletion.</p>
            <p>Deleted account cannot be restored. In case of account deletion, the user is entitled to re-register on
                the
                website/application at any time (using the same e-mail, nickname, phone number).</p>
            <p>&nbsp;</p>
            <p><strong>7. Amendments;</strong></p>
            <p>The terms and conditions of the Website/Application may be periodically updated, for which the company
                has the
                unilateral right. The user is obliged to read amended terms and conditions periodically, and the future
                use of
                the Website and Application will be considered as consent to the updated terms.</p>
            <p>&nbsp;</p>
            <p><strong>8. General provisions;</strong></p>
            <p>Terms and conditions and the Privacy policy are placed on the Website and Application in Georgian and
                English. In
                case of discrepancy between the translations, the Georgian version shall prevail.</p>
        </div>
    </div>
</div>

