<div class="password-recovery-container">
    <h3 class="uppercase">პაროლის აღდგენა</h3>
    <p>პაროლის აღსადგენად მიუთითე ელფოსტა ან ვერიფიცირებული მობილურის ნომერი.</p>
    <div class="form-container">
        <form action="" id="password-recovery-form">
            <div class="user-email-or-phone-num-input">
                <div class="email-or-phone-num-input-container">
                    <input [(ngModel)]="userEmailOrPhoneNumber" type="text" name="userEmailOrPhoneNumber" id="email-or-phone-num-input" placeholder=" ">
                    <label for="email-or-phone-num-input" class="email-or-phone-num-label">ელ-ფოსტა ან მობილური ნომერი</label>
                </div>
                <div class="error-container">
                    <p class="error">{{ userEmailOrPhoneNumberError }}</p>
                </div>
            </div>
            <button (click)="recoverPassword()" type="button" id="recover-password-btn">პაროლის აღდგენა</button>
        </form>
    </div>
</div>