@import './../../../styles.scss';

.password-recovery-container {
    @include flex(column, center, center);
    background-image: url('./../../../assets/images/auth-cover.png');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    h3 {
        @include font(700, 24px, #fff);
        margin-top: 44px;
    }

    p {
        @include font(300, 15px, rgba(255, 255, 255, 0.8));
        width: 440px;
        text-align: center;
        margin: 10px auto 40px;
    }

    .form-container {
        background-color: rgb(28, 28, 29);
        margin-bottom: 40px;
        border-radius: 12px;
        width: 464px;
        height: auto;

        #password-recovery-form {
            @include flex(column, center, flex-start);
            position: relative;
            padding: 50px 60px;
            width: 100%;
            height: 100%;
    
            .user-email-or-phone-num-input {
                @include flex(column, flex-start, center);
                margin-bottom: 40px;
                width: 344px;
    
                .email-or-phone-num-input-container {
                    @include flex(column, flex-start, center);
                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                    margin-bottom: 12px;
                    position: relative;
                    width: 100%;
                    height: 58px;
    
                    .email-or-phone-num-label {
                        position: absolute;
                        top: 50%;
                        left: 6px;
                        transform: translateY(-50%);
                        color: #999;
                        font-size: 16px;
                        pointer-events: none;
                        transition: all 0.2s ease;
                        margin-bottom: 8px;
                    }
    
                    #email-or-phone-num-input {
                        @include font(500, 16px, #fff);
                        background-color: transparent;
                        box-sizing: border-box;
                        font-family: inherit;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 32px;
                        padding: 8px 0;
    
                        &:focus+.email-or-phone-num-label,
                        &:not(:placeholder-shown)+.email-or-phone-num-label {
                            top: -6px;
                            left: 0;
                            font-size: 13px;
                        }
                    }
                }
    
                .error-container {
                    @include flex(column, center, flex-start);
                    width: 100%;
                    height: 17px;

                    .error {
                        @include flex(row, center, flex-start);
                        @include font(300, 13px, #FF3B3B);
                        text-align: left;
                        line-height: 17px;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
            
            #recover-password-btn {
                border-radius: 12px;
                font-family: inherit;
                font-weight: 500;
                font-size: 14px;
                padding: 0 16px;
                border: none;
                width: 100%;
                height: 48px;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }
        }
    }
}