<ng-container *ngIf="postDetails.data">
    <div class="main">
        <img [src]="postDetails.data.image.fileUrl" [alt]="postDetails.data.image.fileName">
        <h1>{{ postDetails.data.title }}</h1>
        <h3>{{ postDetails.data.subtitle }}</h3>
        <div [innerHTML]="postDetails.data.text"></div>
    </div>
    <ng-container *ngIf="postDetails.data.modules">
        <div class="div" *ngFor="let module of postDetails.data.modules">
            <ng-container *ngIf="module.type === 'TEXT'">
                <div [innerHTML]="module.text"></div>
            </ng-container>
            <ng-container *ngIf="module.type === 'PHOTO_GALLERY'">
                <img *ngFor="let item of module.items" [src]="item.image.fileUrl" [alt]="item.image.description">
            </ng-container>
        </div>
    </ng-container>
</ng-container>
