<ng-container *ngIf="postDetails.data">
    <ng-container *ngIf="postDetails.data.type.name == 'სტანდარტული სტატია'">
        <div class="standart-post-container">
            <div class="container-inner">
                <div class="standart-post-main">
                    <div class="image-container">
                        <img [src]="postDetails.data.image.fileUrl" [alt]="postDetails.data.image.fileName">
                    </div>
                    <div class="info-container">
                        <p class="subtitle">{{ postDetails.data.subtitle }}</p>
                        <h3 class="title uppercase">
                            <img *ngIf="postDetails.data.tag.name === 'Powered by Europebet'" [src]="europeBetMiniLogo" alt="">
                            {{ postDetails.data.title }}
                        </h3>
                        <div class="buttons-list">
                            <div class="buttons">
                                <button type="button">
                                    <i class="bi bi-hand-thumbs-up"></i>
                                </button>
                                <button type="button">
                                    <i class="bi bi-chat-dots"></i>
                                </button>
                            </div>
                            <div class="buttons">
                                <button type="button">
                                    <i class="bi bi-bookmark-plus"></i>
                                </button>
                                <button type="button">
                                    <i class="bi bi-share"></i>
                                </button>
                            </div>
                        </div>
                        <div class="post-text-container">
                            <div class="post-text" [innerHTML]="postDetails.data.text"></div>
                            <div class="author-and-publication-data">
                                <div class="author-info" *ngIf="postDetails.data.author">
                                    <div class="author-avatar" *ngIf="postDetails.data.author.avatar !== null" (click)="redirectToAuthor(postDetails.data.author.id)">
                                        <img width="40" height="40" [src]="postDetails.data.author.avatar.fileUrl" alt="">
                                    </div>
                                    <div class="author-avatar" *ngIf="postDetails.data.author.avatar === null">
                                        <span class="no-avatar"><img [src]="userIcon" alt=""></span>
                                    </div>
                                    <div class="author-name-container" (click)="redirectToAuthor(postDetails.data.author.id)">
                                        <p class="full-name">{{ postDetails.data.author.firstName }} {{ postDetails.data.author.lastName }}</p>
                                    </div>
                                </div>
                                <span *ngIf="postDetails.data.author">&centerdot;</span>
                                <div class="publication-date">
                                    <p>{{ postDetails.data.publishedAt | relativeTime }}</p>
                                </div>
                                <span>&centerdot;</span>
                                <div class="estimated-read-time">
                                    <p><i class="bi bi-file-earmark-text"></i>
                                    {{ postDetails.data.estimatedReadTime }} წუთი</p>
                                </div>
                            </div>
                        </div>
                        <div class="modules" *ngIf="postDetails.data.modules.length > 0">
                            <ng-container *ngFor="let module of postDetails.data.modules; let i = index; let moduleIndex = index">
                                <ng-container *ngIf="module.type === 'TEXT'">
                                    <div class="text" [innerHTML]="_domSanitizer.bypassSecurityTrustHtml(module.text)"></div>
                                    <ng-container *ngIf="oembedContents[i]">
                                        <div class="oembed-content" [innerHTML]="oembedContents[i]"></div>
                                    </ng-container>
                                    <ng-container *ngIf="_contentExtractor.extractVideoLink(module.text)">
                                        <div class="video-player" [innerHTML]="videoPlayerHtml"></div>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="module.type === 'MORE_ABOUT_THIS_SUBJECT'">
                                    <div class="more-about-this-subject">
                                        <h3 class="title uppercase">მეტი ამ თემაზე</h3>
                                        <div class="list">
                                            <div class="post-card" *ngFor="let post of module.items" (click)="redirectToPostDetails(post.postId)">
                                                <h3 class="post-title">{{ post.title }}</h3>
                                                <button type="button">
                                                    <i class="bi bi-arrow-right-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="module.type === 'QUOTE'">
                                    <div class="quote-block">
                                        <div class="top-left-quote">
                                            <img [src]="leftQuote" alt="">
                                        </div>
                                        <blockquote class="uppercase">{{ module.text }}</blockquote>
                                        <div class="bottom-right-quote">
                                            <img [src]="rightQuote" alt="">
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="module.type === 'PHOTO_GALLERY'">
                                    <ng-container *ngIf="module.items.length === 1">
                                        <div class="image-container">
                                            <img [src]="module.items[0].image.fileUrl" [alt]="module.items[0].description">
                                            <h6 *ngIf="module.items[0].description !== ''">{{ module.items[0].description }}</h6>
                                            <p *ngIf="module.items[0].author !== ''">📷 ფოტო: {{ module.items[0].author }}</p>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="module.items.length > 1">
                                        <div class="image-slider">
                                            <div class="slides" [style.transform]="'translateX(' + (-currentIndexes[moduleIndex] * 100) + '%)'">
                                                <div class="slide" *ngFor="let item of module.items; let j = index" >
                                                    <img [class.active]="j === currentIndexes[moduleIndex]" 
                                                        class="slide-image" [src]="item.image.fileUrl">
                                                    <h6 *ngIf="item.description !== ''">{{ item.description }}</h6>
                                                    <p *ngIf="item.author !== ''">📷 ფოტო: {{ item.author }}</p>
                                                </div>
                                            </div>
                                            <div class="dots">
                                                <span *ngFor="let item of module.items; let j = index"
                                                    [class.active]="j === currentIndexes[moduleIndex]" 
                                                    (click)="showSlide(moduleIndex, j)" class="dot">
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="comment-section">
                            <div class="header">
                                <h2 class="comment-count">{{ postComments.count }} კომენტარი</h2>
                            </div>
                            <ng-container *ngIf="postComments.data">
                                <div class="comments-list" *ngIf="postComments.data.length > 0">
                                    <div class="comment" *ngFor="let comment of postComments.data">
                                        <div class="user-container">
                                            <ng-container *ngIf="comment.author.avatar === null">
                                                <div class="image">
                                                    <span class="no-avatar"><img [src]="userIcon" alt=""></span>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="comment.author.avatar">
                                                <div class="image">
                                                    <img [src]="comment.author.avatar.fileUrl" alt="">
                                                </div>
                                            </ng-container>
                                            <div class="author-username">
                                                <p>{{ comment.author.username }}</p>
                                            </div>
                                            <div class="publication-date">
                                                <p>{{ comment.createdAt | relativeTime }}</p>
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            <p>{{ comment.text }}</p>
                                        </div>
                                        <div class="comment-interaction-buttons">
                                            <div class="like-button">
                                                <button type="button">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                </button>
                                                <p class="like-count" *ngIf="comment.likeCount !== 0">
                                                    {{ comment.likeCount }}
                                                </p>
                                            </div>
                                            <div class="comment-button">
                                                <button type="button">
                                                    <i class="bi bi-chat-dots"></i>
                                                </button>
                                            </div>
                                            <div class="reply-button">
                                                <button type="button">უპასუხე</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="write-comment-input">
                                    <input type="text" id="comment-input" placeholder="დაწერე რას ფიქრობ">
                                    <button type="button" id="send-comment-btn"><i class="bi bi-send"></i></button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="authors-and-categories">
                            <div class="author-container" *ngIf="postDetails.data.author">
                                <div class="author-info">
                                    <div class="author-avatar" *ngIf="postDetails.data.author.avatar === null">
                                        <span class="no-avatar"><img [src]="userIcon" alt=""></span>
                                    </div>
                                    <div class="author-avatar" *ngIf="postDetails.data.author.avatar">
                                        <img width="40" height="40" (click)="redirectToAuthor(postDetails.data.author.id)" [src]="postDetails.data.author.avatar.fileUrl" alt="">
                                    </div>
                                    <div class="author-name-container">
                                        <p class="author">ავტორი</p>
                                        <p class="full-name" (click)="redirectToAuthor(postDetails.data.author.id)">
                                            {{ postDetails.data.author.firstName }} {{ postDetails.data.author.lastName }}
                                        </p>
                                    </div>
                                </div>
                                <div class="author-subscribe">
                                    <ul class="socials-list">
                                        <li class="social-item" *ngIf="postDetails.data.author.socials.facebookUrl !== '' && postDetails.data.author.socials.facebookUrl !== null">
                                            <a target="_blank" [href]="postDetails.data.author.socials.facebookUrl" class="social"><i class="fa-brands fa-facebook-f"></i></a>
                                        </li>
                                        <li class="social-item" *ngIf="postDetails.data.author.socials.youtubeUrl !== '' && postDetails.data.author.socials.youtubeUrl !== null">
                                            <a target="_blank" [href]="postDetails.data.author.socials.youtubeUrl" class="social"><i class="bi bi-youtube"></i></a>
                                        </li>
                                        <li class="social-item" *ngIf="postDetails.data.author.socials.instagramUrl !== '' && postDetails.data.author.socials.instagramUrl !== null">
                                            <a target="_blank" [href]="postDetails.data.author.socials.instagramUrl" class="social"><i class="bi bi-instagram"></i></a>
                                        </li>
                                        <li class="social-item" *ngIf="postDetails.data.author.socials.messengerUrl !== '' && postDetails.data.author.socials.messengerUrl !== null">
                                            <a target="_blank" [href]="postDetails.data.author.socials.messengerUrl" class="social"><i class="bi bi-messenger"></i></a>
                                        </li>
                                        <li class="social-item" *ngIf="postDetails.data.author.socials.tiktokUrl !== '' && postDetails.data.author.socials.tiktokUrl !== null">
                                            <a target="_blank" [href]="postDetails.data.author.socials.tiktokUrl" class="social"><i class="fa-brands fa-tiktok"></i></a>
                                        </li>
                                    </ul>
                                    <button type="button" id="subscribe-btn">
                                        გამოწერა <i class="fa-solid fa-user-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="categories-container">
                                <h6 class="uppercase">კატეგორიები</h6>
                                <div class="categories-list" *ngIf="postDetails.data.categories">
                                    <div class="category" *ngFor="let category of postDetails.data.categories" 
                                        (click)="redirectToCategory(category.id)">
                                        <p>{{ category.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="similarPosts.data">
                            <div class="similar-posts-container">
                                <div class="header">
                                    <h3 class="uppercase">მსგავსი პოსტები</h3>
                                </div>
                                <div class="posts-cards-container">
                                    <ng-container *ngFor="let similarPost of similarPosts.data">
                                        <ng-container *ngIf="similarPost.type.name === 'სტანდარტული სტატია'">
                                            <div class="standart-post-card">
                                                <div class="image-container">
                                                    <img (click)="redirectToPostDetails(similarPost.id)" [src]="similarPost.image.fileUrl" alt="">
                                                </div>
                                                <div class="info-container">
                                                    <p class="subtitle">{{ similarPost.subtitle }}</p>
                                                    <h3 (click)="redirectToPostDetails(similarPost.id)" class="title">
                                                        <img *ngIf="similarPost.tag.name === 'Powered by Europebet'" width="18" height="18" [src]="europeBetMiniLogo" alt="">
                                                        {{ similarPost.title }}
                                                    </h3>
                                                    <div class="text" [innerHTML]="similarPost.text"></div>
                                                    <div class="additional-info">
                                                        <p>{{ similarPost.publishedAt | relativeTime }}
                                                            <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                                            {{ similarPost.estimatedReadTime }} წუთი
                                                        </p>
                                                        <div class="interaction-buttons">
                                                            <button type="button" id="post-interaction-btn">
                                                                <i class="bi bi-hand-thumbs-up"></i>
                                                            </button>
                                                            <button type="button" id="post-interaction-btn">
                                                                <i class="bi bi-chat-dots"></i>
                                                            </button>
                                                            <button type="button" id="post-interaction-btn">
                                                                <i class="bi bi-bookmark-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="similarPost.type.name === 'ანალიტიოკური სტატია'">
                                            <div class="analytical-post-card">
                                                <div class="image-container">
                                                    <img (click)="redirectToPostDetails(similarPost.id)" [src]="similarPost.image.fileUrl" alt="">
                                                </div>
                                                <div class="info-container">
                                                    <div class="main-info">
                                                        <p class="subtitle">{{ similarPost.subtitle }}</p>
                                                        <h3 (click)="redirectToPostDetails(similarPost.id)" class="title uppercase">
                                                            <img *ngIf="similarPost.type.name === 'ანალიტიოკური სტატია'" width="34" height="20" [src]="epopPlusLogo" alt="">
                                                            {{ similarPost.title }}
                                                        </h3>
                                                    </div>
                                                    <div class="additional-info">
                                                        <div class="add-info">
                                                            <img [src]="similarPost.author.avatar.fileUrl" alt="" (click)="redirectToAuthor(similarPost.author.id)">
                                                            <p class="author-name" (click)="redirectToAuthor(similarPost.author.id)">{{ similarPost.author.firstName }} {{ similarPost.author.lastName }}</p>
                                                            <span>&centerdot;</span>
                                                            <p>{{ similarPost.publishedAt | relativeTime }}</p>
                                                            <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                                            <p>{{ similarPost.estimatedReadTime }} წუთი</p>
                                                        </div>
                                                        <div class="interaction-buttons">
                                                            <button type="button" id="post-interaction-btn">
                                                                <i class="bi bi-hand-thumbs-up"></i>
                                                            </button>
                                                            <button type="button" id="post-interaction-btn">
                                                                <i class="bi bi-chat-dots"></i>
                                                            </button>
                                                            <button type="button" id="post-interaction-btn">
                                                                <i class="bi bi-bookmark-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <aside class="aside" *ngIf="regularPosts.data">
                    <div class="regular-posts-container">
                        <div class="regular-post" *ngFor="let regularPost of regularPosts.data" (click)="redirectToPostDetails(regularPost.id)">
                            <h3 class="post-title">{{ regularPost.title }}</h3>
                            <div class="additional-info">
                                <p class="author-name" *ngIf="regularPost.author" (click)="redirectToAuthor(regularPost.author.id)">
                                    {{ regularPost.author.firstName }} {{ regularPost.author.lastName }}
                                </p>
                                <span *ngIf="regularPost.author">&centerdot;</span>
                                <p class="publication-date">{{ regularPost.publishedAt | relativeTime }}</p>
                                <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                <p class="estimated-read-time">{{ regularPost.estimatedReadTime }} წუთი</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="postDetails.data.type.name == 'ანალიტიოკური სტატია'">
        <div class="analytical-post-main">
            <div class="image-container">
                <img [src]="postDetails.data.image.fileUrl" [alt]="postDetails.data.image.fileName">
            </div>
            <div class="info-container">
                <p class="subtitle">{{ postDetails.data.subtitle }}</p>
                <h3 class="title uppercase">
                    <a href=""><img width="34" height="20" [src]="epopPlusLogo" alt=""></a>
                    {{ postDetails.data.title }}
                </h3>
                <div class="buttons-list">
                    <div class="buttons">
                        <button type="button">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </button>
                        <button type="button">
                            <i class="bi bi-chat-dots"></i>
                        </button>
                    </div>
                    <div class="buttons">
                        <button type="button">
                            <i class="bi bi-bookmark-plus"></i>
                        </button>
                        <button type="button">
                            <i class="bi bi-share"></i>
                        </button>
                    </div>
                </div>
                <div class="post-text-container">
                    <div class="post-main-text" [innerHTML]="postDetails.data.text"></div>
                    <div class="continue-reading-message">
                        <div class="message-text">
                            <h5>განაგრძე კითხვა.</h5>
                            <p>ანალიტიკური სტატიების წასაკითხად გაიარე ავტორიზაცია</p>
                            <button type="button" id="authorize-btn" (click)="redirectToAuthorization()">
                                ავტორიზაცია
                            </button>
                            <div class="register-link">
                                <span>არ გაქვს ანგარიში? <a href="/auth/register">რეგისტრაცია</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-section">
                    <div class="header">
                        <h2 class="comment-count">{{ postComments.count }} კომენტარი</h2>
                    </div>
                    <ng-container *ngIf="postComments.data">
                        <div class="comments-list" *ngIf="postComments.data.length > 0">
                            <div class="comment" *ngFor="let comment of postComments.data">
                                <div class="user-container">
                                    <ng-container *ngIf="comment.author.avatar === null">
                                        <div class="image">
                                            <span class="no-avatar"><img [src]="userIcon" alt=""></span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="comment.author.avatar">
                                        <div class="image">
                                            <img [src]="comment.author.avatar.fileUrl" alt="">
                                        </div>
                                    </ng-container>
                                    <div class="author-username">
                                        <p>{{ comment.author.username }}</p>
                                    </div>
                                    <div class="publication-date">
                                        <p>{{ comment.createdAt | relativeTime }}</p>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    <p>{{ comment.text }}</p>
                                </div>
                                <div class="comment-interaction-buttons">
                                    <div class="like-button">
                                        <button type="button">
                                            <i class="bi bi-hand-thumbs-up"></i>
                                        </button>
                                        <p class="like-count" *ngIf="comment.likeCount !== 0">
                                            {{ comment.likeCount }}
                                        </p>
                                    </div>
                                    <div class="comment-button">
                                        <button type="button">
                                            <i class="bi bi-chat-dots"></i>
                                        </button>
                                    </div>
                                    <div class="reply-button">
                                        <button type="button">უპასუხე</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="write-comment-input">
                            <input type="text" id="comment-input" placeholder="დაწერე რას ფიქრობ">
                            <button type="button" id="send-comment-btn"><i class="bi bi-send"></i></button>
                        </div>
                    </ng-container>
                </div>
                <div class="authors-and-categories">
                    <div class="author-container">
                        <div class="author-info">
                            <div class="author-avatar">
                                <img (click)="redirectToAuthor(postDetails.data.author.id)" width="40" height="40" [src]="postDetails.data.author.avatar.fileUrl" alt="">
                            </div>
                            <div class="author-name-container">
                                <p class="author">ავტორი</p>
                                <p class="full-name" (click)="redirectToAuthor(postDetails.data.author.id)">
                                    {{ postDetails.data.author.firstName }} {{ postDetails.data.author.lastName }}
                                </p>
                            </div>
                        </div>
                        <div class="author-subscribe">
                            <ul class="socials-list">
                                <li class="social-item" *ngIf="postDetails.data.author.socials.facebookUrl !== '' && postDetails.data.author.socials.facebookUrl !== null">
                                    <a target="_blank" [href]="postDetails.data.author.socials.facebookUrl" class="social"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li class="social-item" *ngIf="postDetails.data.author.socials.youtubeUrl !== '' && postDetails.data.author.socials.youtubeUrl !== null">
                                    <a target="_blank" [href]="postDetails.data.author.socials.youtubeUrl" class="social"><i class="bi bi-youtube"></i></a>
                                </li>
                                <li class="social-item" *ngIf="postDetails.data.author.socials.instagramUrl !== '' && postDetails.data.author.socials.instagramUrl !== null">
                                    <a target="_blank" [href]="postDetails.data.author.socials.instagramUrl" class="social"><i class="bi bi-instagram"></i></a>
                                </li>
                                <li class="social-item" *ngIf="postDetails.data.author.socials.messengerUrl !== '' && postDetails.data.author.socials.messengerUrl !== null">
                                    <a target="_blank" [href]="postDetails.data.author.socials.messengerUrl" class="social"><i class="bi bi-messenger"></i></a>
                                </li>
                                <li class="social-item" *ngIf="postDetails.data.author.socials.tiktokUrl !== '' && postDetails.data.author.socials.tiktokUrl !== null">
                                    <a target="_blank" [href]="postDetails.data.author.socials.tiktokUrl" class="social"><i class="fa-brands fa-tiktok"></i></a>
                                </li>
                            </ul>
                            <button type="button" id="subscribe-btn">
                                გამოწერა <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="categories-container">
                        <h6 class="uppercase">კატეგორიები</h6>
                        <div class="categories-list">
                            <div class="category" *ngFor="let category of postDetails.data.categories" (click)="redirectToCategory(category.id)">
                                <p>{{ category.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="similarPosts.data">
                    <div class="similar-posts-container">
                        <div class="header">
                            <h3 class="uppercase">მსგავსი პოსტები</h3>
                        </div>
                        <div class="posts-cards-container">
                            <ng-container *ngFor="let similarPost of similarPosts.data">
                                <ng-container *ngIf="similarPost.type.name === 'სტანდარტული სტატია'">
                                    <div class="standart-post-card">
                                        <div class="image-container">
                                            <img (click)="redirectToPostDetails(similarPost.id)" [src]="similarPost.image.fileUrl" alt="">
                                        </div>
                                        <div class="info-container">
                                            <p class="subtitle">{{ similarPost.subtitle }}</p>
                                            <h3 (click)="redirectToPostDetails(similarPost.id)" class="title">
                                                <img *ngIf="similarPost.tag.name === 'Powered by Europebet'" width="18" height="18" [src]="europeBetMiniLogo" alt="">
                                                {{ similarPost.title }}
                                            </h3>
                                            <div class="text" [innerHTML]="similarPost.text"></div>
                                            <div class="additional-info">
                                                <p>{{ similarPost.publishedAt | relativeTime }}
                                                    <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                                    {{ similarPost.estimatedReadTime }} წუთი
                                                </p>
                                                <div class="interaction-buttons">
                                                    <button type="button" id="post-interaction-btn">
                                                        <i class="bi bi-hand-thumbs-up"></i>
                                                    </button>
                                                    <button type="button" id="post-interaction-btn">
                                                        <i class="bi bi-chat-dots"></i>
                                                    </button>
                                                    <button type="button" id="post-interaction-btn">
                                                        <i class="bi bi-bookmark-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="similarPost.type.name === 'ანალიტიოკური სტატია'">
                                    <div class="analytical-post-card">
                                        <div class="image-container">
                                            <img (click)="redirectToPostDetails(similarPost.id)" [src]="similarPost.image.fileUrl" alt="">
                                        </div>
                                        <div class="info-container">
                                            <div class="main-info">
                                                <p class="subtitle">{{ similarPost.subtitle }}</p>
                                                <h3 (click)="redirectToPostDetails(similarPost.id)" class="title uppercase">
                                                    <img *ngIf="similarPost.type.name === 'ანალიტიოკური სტატია'" width="34" height="20" [src]="epopPlusLogo" alt="">
                                                    {{ similarPost.title }}
                                                </h3>
                                            </div>
                                            <div class="additional-info">
                                                <div class="add-info">
                                                    <img (click)="redirectToAuthor(similarPost.author.id)" [src]="similarPost.author.avatar.fileUrl" alt="">
                                                    <p class="author-name" (click)="redirectToAuthor(similarPost.author.id)">{{ similarPost.author.firstName }} {{ similarPost.author.lastName }}</p>
                                                    <span>&centerdot;</span>
                                                    <p>{{ similarPost.publishedAt | relativeTime }}</p>
                                                    <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                                    <p>{{ similarPost.estimatedReadTime }} წუთი</p>
                                                </div>
                                                <div class="interaction-buttons">
                                                    <button type="button" id="post-interaction-btn">
                                                        <i class="bi bi-hand-thumbs-up"></i>
                                                    </button>
                                                    <button type="button" id="post-interaction-btn">
                                                        <i class="bi bi-chat-dots"></i>
                                                    </button>
                                                    <button type="button" id="post-interaction-btn">
                                                        <i class="bi bi-bookmark-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</ng-container>