@import './../../../styles.scss';

.standard-post-main {
    h3 {
        color: #f15a22;
    }

    img {
        width: 774px;
        height: 520px;
        border-radius: 12px;
    }
}

.div {
    width: 774px;

    .text {
        &::ng-deep p {
            margin: 32px 0;

            &::ng-deep a {
                text-decoration: underline;
                color: #f15a22;
            }
        }
    }

    img {
        width: 774px;
        height: 520px;
        border-radius: 12px;
    }
}

.analytical-post-main {
    @include flex(column, center, center);
    width: 100%;

    .image-container {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .info-container {
        @include flex(column, flex-start, center);
        width: 100%;
        max-width: 757px;
        padding-top: 24px;
        margin: 0px auto;

        .subtitle {
            @include font(600, 16px, #f15a22);
            line-height: 22px;
            margin-bottom: 20px;
        }

        .title {
            @include font(600, 20px, #fff);
            margin-bottom: 24px;
            width: 96%;
        }

        .buttons-list {
            @include flex(row, center, space-between);
            border-bottom: 1px solid rgba(73, 73, 75, 0.3);
            border-top: 1px solid rgba(73, 73, 75, 0.3);
            margin: 6px 0 24px;
            padding: 16px 0;
            width: 100%;

            .buttons {
                @include flex(row, center, center);
                gap: 24px;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    i {
                        color: #B5B5B5;
                        font-size: 20px;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover i {
                        color: #fff;
                    }
                }

                &:last-child {
                    button i {
                        color: #fff;
                    }
                }
            }
        }

        .post-text-container {
            position: relative;
            z-index: 4;
            width: 100%;
            height: 600px;

            .post-main-text {
                position: relative;
                z-index: 1;
        
                &::ng-deep p {
                    @include font(600, 16px, #fff);
                    opacity: 0.85;
                    line-height: 26px;
                }
            }
        
            .continue-reading-message {
                background-image: url("./../../../assets/images/continue-reading-cover.png"),
                linear-gradient(transparent 0%, rgba(33, 32, 32, 0.99) 23%);
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                border-radius: 12px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;

                .message-text {
                    @include flex(column, center, center);
                    width: 100%;
                    height: 100%;
                    padding: 190px 16px 52px;

                    h5 {
                        @include font(600, 24px, #fff);
                        margin-bottom: 12px;
                    }

                    p {
                        @include font(400, 18px, #fff);
                        margin: 0px auto 40px;
                        text-align: center;
                        max-width: 520px;
                    }

                    #authorize-btn {
                        @include font(500, 14px, #fff);
                        font-family: inherit;
                        background-color: #f15a22;
                        border-radius: 8px;
                        border: none;
                        padding: 0 16px;
                        width: 127px;
                        height: 43px;
                        cursor: pointer;
                    }

                    .register-link {
                        margin-top: 32px;

                        span {
                            @include font(400, 13px, rgba(255, 255, 255, 0.7));
                        }

                        a {
                            @include font(400, 13px, #f15a22);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .authors-and-categories {
            @include flex(column, center, center);
            border-top: 1px solid rgb(31, 32, 33);
            border-bottom: 1px solid rgb(31, 32, 33);
            margin: 32px 0;
            width: 100%;

            .author-container {
                @include flex(row, center, space-between);
                background-color: rgb(28, 28, 29);
                border-radius: 12px;
                margin: 32px 0;
                padding: 24px;
                width: 100%;
                height: 88px;
        
                .author-info {
                    @include flex(row, center, center);
                    gap: 12px;
        
                    .author-avatar {
                        @include flex(column, center, center);
        
                        img {
                            border-radius: 50%;
                        }
                    }
        
                    .author-name-container {
                        @include flex(column, flex-start, center);
        
                        .author {
                            @include font(400, 12px, #fff);
                            margin-bottom: 4px;
                            opacity: 0.8;
                        }
        
                        .full-name {
                            @include font(600, 14px, #fff);
                        }
                    }
                }
        
                .author-subscribe {
                    @include flex(row, center, center);
                    gap: 12px;
        
                    .socials-list {
                        @include flex(row, center, center);
                        list-style: none;
                        padding: 0;
                        gap: 6px;
        
                        .social-item {
                            @include flex(column, center, center);
                            background-color: rgb(51, 51, 52);
                            border-radius: 50%;
                            width: 34px;
                            height: 34px;
        
                            .social {
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
        
                    #subscribe-btn {
                        @include font(500, 13px, #fff);
                        font-family: inherit;
                        background-color: #f15a22;
                        border-radius: 20px;
                        border: none;
                        width: 117px;
                        height: 34px;
                        cursor: pointer;
                    }
                }
            }

            .categories-container {
                @include flex(column, flex-start, center);
                width: 100%;

                h6 {
                    @include font(600, 16px, #fff);
                    margin-bottom: 24px;
                }

                .categories-list {
                    @include flex(row, center, flex-start);
                    margin-bottom: 32px;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 8px;

                    .category {
                        @include flex(column, center, center);
                        @include font(500, 13px, #fff);
                        background-color: rgb(28, 28, 29);
                        border: 1px solid rgb(51, 51, 52);
                        border-radius: 16px;
                        padding: 0 10px;
                        height: 34px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}