@import './../../../styles.scss';

.register-container {
    @include flex(column, center, center);
    background-image: url('./../../../assets/images/auth-cover.png');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    h3 {
        @include font(700, 24px, #fff);
        margin-top: 44px;
    }

    p {
        @include font(300, 15px, rgba(255, 255, 255, 0.8));
        width: 440px;
        text-align: center;
        margin: 10px auto 40px;
    }

    .form-container {
        @include flex(column, center, flex-start);
        background-color: rgb(28, 28, 29);
        margin-bottom: 40px;
        border-radius: 12px;
        width: 464px;
        height: auto;

        #registration-form {
            @include flex(column, flex-start, center);
            position: relative;
            padding: 50px 60px;
            width: 100%;
            height: 100%;

            .user-email-input {
                @include flex(column, flex-start, center);
                margin-bottom: 40px;
                width: 344px;
        
                .email-input-container {
                    @include flex(row, center, space-between);
                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                    position: relative;
                    width: 100%;
                    height: 58px;
                    margin-bottom: 10px;
        
                    .email-label {
                        position: absolute;
                        top: 50%;
                        left: 6px;
                        transform: translateY(-50%);
                        color: #999;
                        font-size: 16px;
                        pointer-events: none;
                        transition: all 0.2s ease;
                        margin-bottom: 8px;
                    }
        
                    #email-input {
                        @include font(500, 16px, #fff);
                        background-color: transparent;
                        box-sizing: border-box;
                        font-family: inherit;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 32px;
                        padding: 8px 0;
        
                        &:focus+.email-label,
                        &:not(:placeholder-shown)+.email-label {
                            top: -6px;
                            left: 0;
                            font-size: 13px;
                        }
                    }

                    .check-icon {
                        display: block;

                        i {
                            font-size: 32px;
                            color: #369D34;
                        }
                    }
                }
        
                .error-container {
                    @include flex(column, center, center);
                    width: 100%;
                    height: 17px;
        
                    .error {
                        @include flex(row, center, flex-start);
                        @include font(300, 13px, #FF3B3B);
                        line-height: 17px;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        
            .user-password-input {
                @include flex(column, flex-start, center);
                margin-bottom: 40px;
        
                .password-input-container {
                    @include flex(row, center, space-between);
                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                    position: relative;
                    width: 344px;
                    height: 58px;
        
                    .password-label {
                        position: absolute;
                        top: 50%;
                        left: 6px;
                        transform: translateY(-50%);
                        color: #999;
                        font-size: 16px;
                        pointer-events: none;
                        transition: all 0.2s ease-in-out;
                        margin-bottom: 8px;
                    }
        
                    #password-input {
                        @include font(500, 16px, #fff);
                        border: 1px solid #b0b0b0;
                        background-color: transparent;
                        box-sizing: border-box;
                        font-family: inherit;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 32px;
                        padding: 8px 0;
        
                        &:focus+.password-label,
                        &:not(:placeholder-shown)+.password-label {
                            top: -6px;
                            left: 0;
                            font-size: 13px;
                        }
                    }

                    #toggleSeePassBtn {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        i {
                            font-size: 20px;
                            color: #999;
                        }
                    }
                }
        
                .error-container {
                    @include flex(column, flex-start, center);
                    margin-top: 6px;
                    width: 100%;
                    height: 17px;
        
                    .error {
                        @include flex(row, center, flex-start);
                        @include font(300, 13px, #FF3B3B);
                        line-height: 17px;
                        width: 100%;
                        margin: 0;
                    }
                }
            }

            .password-validation-container {
                @include flex(column, flex-start, center);
                width: 100%;
                margin-bottom: 42px;

                .password-validations-list {
                    @include flex(column, flex-start, center);
                    list-style: none;
                    padding: 0;
                    gap: 8px;

                    .validation {
                        @include flex(row, center, center);

                        .validation-icon {
                            @include flex(column, center, center);
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            margin-right: 12px;
                            background-color: #333334;
                            transform-origin: center center;
                        }

                        .validation-text {
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.7);
                        }
                    }
                }
            }

            .user-confirm-password-input {
                @include flex(column, flex-start, center);
                width: 344px;
                margin-bottom: 40px;

                .confirm-password-input-container {
                    @include flex(row, center, space-between);
                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                    position: relative;
                    width: 100%;
                    height: 58px;

                    .confirm-password-label {
                        position: absolute;
                        top: 50%;
                        left: 6px;
                        transform: translateY(-50%);
                        color: #999;
                        font-size: 16px;
                        pointer-events: none;
                        transition: all 0.2s ease-in-out;
                        margin-bottom: 8px;
                    }

                    #confirm-password-input {
                        @include font(500, 16px, #fff);
                        border: 1px solid #b0b0b0;
                        background-color: transparent;
                        box-sizing: border-box;
                        font-family: inherit;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 32px;
                        padding: 8px 0;

                        &:focus + .confirm-password-label,
                        &:not(:placeholder-shown) + .confirm-password-label {
                            top: -6px;
                            left: 0;
                            font-size: 13px;
                        }
                    }

                    #toggleSeePassBtn {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        i {
                            font-size: 20px;
                            color: #999;
                        }
                    }
                }

                .error-container {
                    @include flex(column, center, flex-start);
                    margin-top: 6px;
                    width: 100%;
                    height: 17px;

                    .error {
                        @include flex(row, center, flex-start);
                        @include font(300, 13px, #FF3B3B);
                        line-height: 17px;
                        width: 100%;
                        margin: 0;
                    }
                }
            }

            #register-btn {
                border-radius: 12px;
                font-family: inherit;
                font-weight: 500;
                font-size: 14px;
                padding: 0 16px;
                border: none;
                width: 100%;
                height: 48px;
                cursor: pointer;
            }

            .division-line {
                @include flex(row, center, center);
                position: relative;
                margin: 36px 0 24px 0;
                width: 100%;

                span {
                    @include font(300, 13px, rgba(255, 255, 255, 0.7));
                    @include flex(column, center, center);
                    position: relative;
                    z-index: 1;
                    background-color: rgb(28, 28, 29);
                    width: 32px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    width: 100%;
                    height: 1px;
                    background-color: rgba(73, 73, 75, 0.5);
                }
            }

            .register-options-buttons {
                @include flex(row, center, center);
                width: 100%;
                margin-bottom: 40px;

                #option-button {
                    @include flex(column, center, center);
                    background-color: rgba(31, 32, 33, 0.7);
                    border-radius: 50%;
                    border: none;
                    width: 52px;
                    height: 52px;
                    margin: 0 6px;
                    cursor: pointer;
                }
            }

            .already-have-account-message {
                @include flex(column, center, center);
                width: 344px;

                p {
                    @include font(600, 15px, rgba(255, 255, 255, 0.7));
                    text-align: center;
                    width: 100%;

                    a {
                        text-decoration: none;
                        color: #F15A22;
                    }
                }
            }
        }
    }

    .terms {
        margin: 30px 0;

        p {
            font-size: 13px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
            margin: 0;

            a {
                text-decoration: underline;
                color: white;
            }
        }
    }
}