<header>
    <nav *ngIf="!modified">
        <div class="left-side">
            <div class="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="logo-container">
                <a class="link-to-home" href="/">
                    <img [src]="europopLogo" alt="">
                </a>
            </div>
        </div>
        <div class="separation-line"></div>
        <div class="middle-side">
            <ul class="suggestions-list">
                <li class="list-item">
                    <a href="" class="suggestion">
                        <img class="eplus-logo" [src]="epopPlusLogo" alt="">
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="suggestion">
                        <img width="24" height="24" [src]="georgianSport" alt="">
                        <p class="georgian link-text">ქართული სპორტი</p>
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="suggestion">
                        <img width="24" height="24" [src]="kvaratskheliaNumber" alt="">
                        <p class="georgian link-text">ხვიჩა კვარაცხელია</p>
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="suggestion">
                        <img width="24" height="24" [src]="nakrebiLogo" alt="">
                        <p class="georgian link-text">ეროვნული ნაკრები</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-side">
            <div class="search-input-container">
                <button (click)="getSearchResults()" id="search-button" type="button">
                    <i class="bi bi-search"></i>
                </button>
                <input 
                    [(ngModel)]="searchQuery" type="text" 
                    (keypress)="onEnterPressed($event)"
                    id="search-input" name="searchQuery" 
                    placeholder="მოძებნე პოსტი, ავტორი, კატეგორია..."
                >
            </div>
            <button id="notifications" type="button">
                <i class="bi bi-bell"></i>
            </button>
            <button id="profile" type="button">
                <i class="bi bi-person"></i>
            </button>
        </div>
    </nav>
    <nav class="modified-nav" *ngIf="modified">
        <div class="logo-container">
            <a class="link-to-home" href="/">
                <img [src]="europopLogo" alt="">
            </a>
        </div>
    </nav>
</header>
