@import './../../../styles.scss';

header {
    @include flex(column, center, center);
    background-color: #131415;
    position: sticky;
    overflow: hidden;
    z-index: 10;
    top: 0;
    width: 100%;

    .modified-nav {
        @include flex(row, center, center);
        position: relative;
        padding: 8px 16px;
        width: 100%;
        height: 76px;
        z-index: 11;

        .logo-container {
            width: 128px;
            height: 20px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    nav {
        @include flex(row, center, space-between);
        position: relative;
        padding: 8px 16px;
        width: 100%;
        height: 76px;
        z-index: 11;

        .left-side {
            @include flex(row, center, center);
            height: 100%;
            gap: 40px;

            .burger-menu {
                @include flex(column, flex-start, space-between);
                position: relative;
                width: 24px;
                height: 18px;
                cursor: pointer;

                .line {
                    transition: all 0.3s ease-in-out;
                    background-color: #D9D9D9;
                    border-radius: 8px;
                    width: 100%;
                    height: 2.4px;

                    &:first-child {
                        width: 70%;
                        transition: all 0.3s ease-in-out;
                    }

                    &:last-child {
                        width: 50%;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .burger-menu.active {
                .line {
                    &:first-child {
                        transform: rotate(-45deg);
                        position: absolute;
                        width: 100%;
                        top: 8px;
                    }
            
                    &:nth-child(2) {
                        transform: rotate(45deg);
                        position: absolute;
                        top: 8px;
                    }
            
                    &:last-child {
                        transform: rotate(-45deg);
                        position: absolute;
                        width: 100%;
                        top: 8px;
                    }
                }
            }

            .logo-container {
                width: 128px;
                height: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }

            .popular-themes {
                @include flex(column, center, center);
                border-left: 0.5px solid #49494B;
                padding-left: 40px;
                height: 40%;

                .suggestions-list {
                    @include flex(row, center, space-between);
                    list-style: none;
                    padding: 0;
                    gap: 24px;

                    .list-item {
                        @include flex(column, center, center);

                        .suggestion {
                            @include flex(row, center, center);
                            text-decoration: none;
                            gap: 8px;

                            .eplus-logo {
                                margin: 8px 0;
                                width: 41px;
                                height: 24px;
                            }

                            .link-text {
                                @include font(500, 15px, #fff);
                            }
                        }
                    }
                }
            }
        }

        .right-side {
            @include flex(row, center, center);
            height: 100%;
            gap: 16px;

            .search-input-container {
                @include flex(row, center, center);
                background-color: #232325;
                border-radius: 32px;
                padding: 8px 16px;
                width: 392px;
                height: 48px;
                transition: all 250ms ease-in-out;

                #search-button {
                    @include flex(column, center, center);
                    background-color: transparent;
                    border: none;
                    width: 8%;
                    height: 100%;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                #search-input {
                    @include font(400, 14px, #fff);
                    background-color: transparent;
                    font-family: inherit;
                    border: none;
                    outline: none;
                    padding: 8px;
                    width: 92%;
                    height: 100%;

                    &::placeholder {
                        @include font(400, 14px, #7e7e7e);
                    }
                }

                &:hover {
                    box-shadow: rgba(241, 90, 34, 0.7) 0px 0px 6px;
                }
            }

            #notifications, #profile {
                background-color: #232325;
                border-radius: 50%;
                border: none;
                width: 48px;
                height: 48px;
                cursor: pointer;

                i {
                    font-size: 22px;
                    color: #fff;
                }
            }
        }
    }

    .hidden-dropdown {
        position: fixed;
        top: 75px;
        width: 100%;
        height: 542px;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease 0s;
    }

    .dropdown-menu-container {
        @include flex(row, stretch, space-between);
        background-color: rgb(28, 28, 29);
        padding-left: 16px;
        overflow: hidden;
        position: fixed;
        top: 75px;
        width: 100%;
        height: 542px;
        z-index: 9;
        opacity: 1;
        visibility: visible;

        .lists-container {
            @include flex(row, flex-start, center);

            .listing {
                @include flex(column, flex-start, flex-start);
                animation: 0.75s ease 0s 1 normal none running appearance;
                padding-right: 24px;
                margin: 32px 0;
                width: 260px;
        
                .categories-list {
                    @include flex(column, flex-start, center);
                    width: 100%;
        
                    .category {
                        @include flex(row, center, space-between);
                        margin-bottom: 24px;
                        min-height: 24px;
                        width: 100%;
                        cursor: pointer;
        
                        .category-name {
                            max-width: 80%;
        
                            p {
                                @include font(600, 14px, #fff);
                            }
                        }
        
                        #arrow-button {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
        
                            i {
                                font-size: 28px;
                                color: #b5b5b5;
                            }
                        }
        
                        &:hover,
                        &:active {
                            #arrow-button i {
                                color: #f15a22;
                            }
                        }
                    }
                }
        
                .contact {
                    @include flex(row, center, space-between);
                    border-top: 1px solid rgba(51, 51, 52, 0.7);
                    padding-top: 32px;
                    width: 100%;
                    cursor: pointer;
        
                    .title {
                        max-width: 80%;
        
                        p {
                            @include font(600, 14px, #fff);
                        }
                    }
        
                    #arrow-button {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
        
                        i {
                            font-size: 28px;
                            color: #b5b5b5;
                        }
                    }
        
                    &:hover,
                    &:active {
                        #arrow-button i {
                            color: #f15a22;
                        }
                    }
                }
            }
        
            @keyframes appearance {
                0% {
                    opacity: 0;
                }
        
                60% {
                    opacity: 0;
                }
        
                100% {
                    opacity: 1;
                }
            }
        
            .sub-listing {
                @include flex(column, flex-start, flex-start);
                animation: 0.9s ease-in 0s 1 normal none running appearance;
                border-left: 1px solid rgba(51, 51, 52, 0.7);
                margin: 32px 16px 32px 0;
                padding-left: 24px;
                width: 734px;
                height: 454px;
        
                .grid-list {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    flex: 1 1 0%;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: repeat(10, 1fr);
                    grid-auto-flow: column;
                    grid-auto-columns: 0px;
                    overflow: hidden;
        
                    .link {
                        @include font(400, 14px, #fff);
                        transition: all 0.25s ease-in-out;
                        margin-bottom: 24px;
                        cursor: pointer;
        
                        &:hover {
                            color: #f15a22;
                        }
                    }
        
                    .link.lead {
                        @include font(600, 16px, #fff);
                        transition: all 0.25s ease-in-out;
        
                        &:hover {
                            color: #f15a22;
                        }
                    }
                }

                .contacts-container {
                    @include flex(row, flex-start, flex-start);
                    width: 100%;
                    height: 100%;

                    .list-container {
                        @include flex(column, flex-start, flex-start);
                        width: 296px;
                        height: 251px;

                        .title {
                            margin-bottom: 32px;

                            h3 {
                                @include font(700, 15px, #fff);
                            }
                        }

                        .contacts-list {
                            @include flex(column, flex-start, center);
                            list-style: none;
                            padding: 0;
                            gap: 20px;

                            .contact-item .contact {
                                @include flex(row, center, center);
                                @include font(500, 15px, #fff);
                                text-decoration: none;
                                gap: 10px;
                            }
                        }
                    }

                    .write-message {
                        @include flex(column, flex-start, flex-start);
                        width: 344px;
                        height: 366px;

                        .header h4 {
                            @include font(700, 15px, #fff);
                            margin-bottom: 32px;
                        }

                        .form-container {
                            @include flex(column, flex-start, center);
                            width: 100%;

                            .user-email-input {
                                @include flex(column, flex-start, center);
                                margin-bottom: 40px;
                        
                                .email-input-container {
                                    @include flex(column, flex-start, center);
                                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                                    position: relative;
                                    width: 344px;
                                    height: 58px;
                        
                                    .email-label {
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        transform: translateY(-50%);
                                        color: #999;
                                        font-size: 16px;
                                        pointer-events: none;
                                        transition: all 0.2s ease;
                                        margin-bottom: 8px;
                                    }
                        
                                    #email-input {
                                        @include font(500, 16px, #fff);
                                        background-color: transparent;
                                        box-sizing: border-box;
                                        font-family: inherit;
                                        border: none;
                                        outline: none;
                                        width: 100%;
                                        height: 32px;
                                        padding: 8px 0;
                        
                                        &:focus+.email-label,
                                        &:not(:placeholder-shown)+.email-label {
                                            top: -6px;
                                            left: 0;
                                            font-size: 13px;
                                        }
                                    }
                                }
                        
                                .error-container {
                                    @include flex(column, flex-start, center);
                                    margin-top: 6px;
                                    width: 100%;
                                    height: 17px;
                        
                                    .error {
                                        @include font(300, 13px, #FF3B3B);
                                        line-height: 17px;
                                        margin-top: 6px;
                                    }
                                }
                            }

                            .user-message-input {
                                @include flex(column, flex-start, center);
                                margin-bottom: 40px;

                                .message-input-container {
                                    @include flex(column, flex-start, center);
                                    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
                                    padding-bottom: 16px;
                                    width: 344px;

                                    label {
                                        @include font(400, 16px, #999);
                                        margin-bottom: 8px;
                                    }

                                    #message-textarea {
                                        @include font(500, 16px, #fff);
                                        font-family: inherit;
                                        background-color: transparent;
                                        border: none;
                                        min-width: 100%;
                                        max-width: 100%;
                                        height: 62px;
                                        max-height: 164px;
                                        outline: none;
                                    }
                                }

                                .error {
                                    @include font(300, 13px, rgba(255, 255, 255, 0.7));
                                    margin-top: 6px;
                                }
                            }

                            #send-message-btn {
                                @include font(500, 14px, #fff);
                                background-color: #f15a22;
                                font-family: inherit;
                                border-radius: 12px;
                                border: none;
                                width: 100%;
                                height: 48px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .aside {
            @include flex(column, flex-start, center);
            animation: 1.2s ease-in 0s 1 normal none running appearance;
            background-color: #232324;
            width: 440px;

            .category-posts-container {
                @include flex(column, flex-start, flex-start);
                padding: 32px 16px 32px 32px;
                width: 100%;
                height: 100%;

                .category-title {
                    margin-bottom: 30px;

                    h3 {
                        @include font(700, 15px, #fff);
                    }
                }

                .category-posts {
                    @include flex(column, center, center);
                    width: 100%;

                    .category-post {
                        @include flex(row, center, space-between);
                        border-bottom: 1px solid rgba(73, 73, 75, 0.3);
                        padding-bottom: 14px;
                        margin-bottom: 16px;
                        width: 100%;
                        height: 76px;

                        .info-container {
                            @include flex(column, flex-start, center);
                            width: 200px;
                            height: 100%;

                            .subtitle {
                                @include font(500, 13px, #f15a22);
                                margin-bottom: 8px;
                            }

                            .title {
                                @include font(500, 13px, #fff);
                                display: -webkit-box;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical; 
                                cursor: pointer;  
                            }
                        }

                        .image-container {
                            border-radius: 16px;
                            width: 96px;
                            height: 100%;
                            cursor: pointer;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: inherit;
                                object-fit: cover;
                                display: block;
                            }
                        }
                    }
                }
            }

            .subscription-form {
                @include flex(column, center, center);
                background-image: url("./../../../assets/images/drop-down-subs-form-bg.png");
                background-position-x: center;
                background-position-y: center;
                background-size: cover;
                width: 100%;
                height: 100%;

                .form-container {
                    @include flex(column, center, center);
                    width: 380px;
                    height: 248px;

                    .header {
                        @include flex(column, center, center);
                        text-align: center;
                        width: 100%;
                
                        h3 {
                            @include font(900, 24px, #fff);
                            margin-bottom: 4px;
                        }
                
                        p {
                            @include font(400, 14px, #fff);
                            line-height: 18px;
                            margin-bottom: 24px;
                        }
                    }
                
                    .subscribe-input-container {
                        @include flex(column, center, center);
                        width: 100%;
                
                        .input-container {
                            @include flex(row, center, center);
                            background-color: #fff;
                            width: 100%;
                            height: 48px;
                            padding: 4px;
                            border-radius: 12px;
                
                            #email-input {
                                @include font(500, 13px, #000);
                                background-color: transparent;
                                font-family: inherit;
                                padding: 8px 12px;
                                outline: none;
                                border: none;
                                width: 65%;
                                height: 100%;
                            }
                
                            #subscribe-btn {
                                @include font(600, 15px, #ACACAC);
                                font-family: inherit;
                                background-color: #2B2C2E;
                                border-radius: 12px;
                                padding: 4px;
                                width: 35%;
                                height: 100%;
                                border: none;
                                cursor: pointer;
                            }
                        }
                
                        .message {
                            @include flex(column, center, center);
                            margin-top: 12px;
                            margin-bottom: 24px;
                            width: 100%;
                
                            p {
                                @include font(300, 11px, #fff);
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .dim-container-for-dropdown {
        background-color: rgba(0, 0, 0, 0.44);
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 8;
        opacity: 1;
        visibility: visible;
        transition: all 0.6s ease 0s;
    }
}