<header>
    <nav *ngIf="!modified">
        <div class="left-side">
            <div class="burger-menu" 
                [ngClass]="{ 'active': isToggled }" 
                (click)="toggleDropDown()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="logo-container">
                <a class="link-to-home" href="/">
                    <img [src]="europopLogo" alt="">
                </a>
            </div>
            <div class="popular-themes">
                <ul class="suggestions-list">
                    <li class="list-item">
                        <a href="/epop-plus" class="suggestion">
                            <img class="eplus-logo" [src]="epopPlusLogo" alt="">
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/category/180837" class="suggestion">
                            <img width="24" height="24" [src]="georgianSport" alt="">
                            <p class="georgian link-text">ქართული სპორტი</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/category/182094" class="suggestion">
                            <img width="24" height="24" [src]="kvaratskheliaNumber" alt="">
                            <p class="georgian link-text">ხვიჩა კვარაცხელია</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/category/180246" class="suggestion">
                            <img width="24" height="24" [src]="nakrebiLogo" alt="">
                            <p class="georgian link-text">ეროვნული ნაკრები</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <div class="search-input-container">
                <button (click)="getSearchResults()" id="search-button" type="button">
                    <i class="bi bi-search"></i>
                </button>
                <input 
                    [(ngModel)]="searchQuery" type="text" 
                    (keypress)="onEnterPressed($event)"
                    id="search-input" name="searchQuery" 
                    placeholder="მოძებნე პოსტი, ავტორი, კატეგორია..."
                >
            </div>
            <button id="notifications" type="button">
                <i class="bi bi-bell"></i>
            </button>
            <button id="profile" type="button">
                <i class="bi bi-person"></i>
            </button>
        </div>
    </nav>
    <nav class="modified-nav" *ngIf="modified">
        <div class="logo-container">
            <a class="link-to-home" href="/">
                <img [src]="europopLogo" alt="">
            </a>
        </div>
    </nav>
    <div *ngIf="isToggled" class="dim-container-for-dropdown" [@fadeAnimation]></div>
    <div *ngIf="isToggled" class="dropdown-menu-container" [@dropdownAnimation]>
        <div class="lists-container">
            <div class="listing">
                <div class="categories-list">
                    <div class="category" *ngFor="let category of listing" (click)="setSelectOption(category.value)">
                        <div class="category-name">
                            <p class="uppercase">{{ category.name }}</p>
                        </div>
                        <button type="button" id="arrow-button">
                            <i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>
                </div>
                <div class="contact" (click)="setSelectOption('contacts')">
                    <div class="title">
                        <p class="uppercase">კონტაქტი</p>
                    </div>
                    <button type="button" id="arrow-button">
                        <i class="bi bi-arrow-right-short"></i>
                    </button>
                </div>
            </div>
            <div class="sub-listing">
                <div class="grid-list" *ngIf="selectedOption === 'default'">
                    <div class="link lead uppercase" (click)="redirectToCategory(defaultSubListing.mainId)">{{ defaultSubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of defaultSubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="grid-list" *ngIf="selectedOption === 'world_football'">
                    <div class="link lead uppercase" (click)="redirectToCategory(worldFootballSubListing.mainId)">{{ worldFootballSubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of worldFootballSubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="grid-list" *ngIf="selectedOption === 'basketball'">
                    <div class="link lead uppercase" (click)="redirectToCategory(basketballSubListing.mainId)">{{ basketballSubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of basketballSubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="grid-list" *ngIf="selectedOption === 'goergian_rugby'">
                    <div class="link lead uppercase" (click)="redirectToCategory(georgianRugbySubListing.mainId)">{{ georgianRugbySubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of georgianRugbySubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="grid-list" *ngIf="selectedOption === 'MMA'">
                    <div class="link lead uppercase" (click)="redirectToCategory(MMASubListing.mainId)">{{ MMASubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of MMASubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="grid-list" *ngIf="selectedOption === 'judo'">
                    <div class="link lead uppercase" (click)="redirectToCategory(judoSubListing.mainId)">{{ judoSubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of judoSubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="grid-list" *ngIf="selectedOption === 'others'">
                    <div class="link lead uppercase" (click)="redirectToCategory(othersSubListing.mainId)">{{ othersSubListing.mainTitle }}</div>
                    <div class="link" *ngFor="let subcategory of othersSubListing.subCategoryList" (click)="redirectToCategory(subcategory.id)">{{ subcategory.name }}</div>
                </div>
                <div class="contacts-container" *ngIf="selectedOption === 'contacts'">
                    <div class="list-container">
                        <div class="title">
                            <h3 class="uppercase">კონტაქტი</h3>
                        </div>
                        <ul class="contacts-list">
                            <li class="contact-item" *ngFor="let contact of socialMediaLinks">
                                <a target="_blank" class="contact" [href]="contact.linkUrl">
                                    <img [src]="contact.imageUrl" alt=""> {{ contact.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="write-message">
                        <div class="header">
                            <h4 class="uppercase">მოგვწერე მეილი</h4>
                        </div>
                        <form action="" class="form-container">
                            <div class="user-email-input">
                                <div class="email-input-container">
                                    <input [(ngModel)]="email" (ngModelChange)="checkEmail()" type="email" id="email-input" name="email" placeholder=" ">
                                    <label for="email-input" class="email-label">ელ-ფოსტა*</label>
                                </div>
                                <div class="error-container">
                                    <p class="error">{{ emailError }}</p>
                                </div>
                            </div>
                            <div class="user-message-input">
                                <div class="message-input-container">
                                    <label for="message-textarea">მესიჯი</label>
                                    <textarea [(ngModel)]="message" name="message" id="message-textarea"></textarea>
                                </div>
                                <p class="error" [ngStyle]="checkIfBeyond150Chars()">მაქსიმალური სიმბოლოების რაოდენობა {{ message.length }}/150</p>
                            </div>
                            <button type="button" id="send-message-btn" (click)="checkEmailAndMessage()">გაგზავნა</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside">
            <div class="category-posts-container" *ngIf="selectedOption === 'default'">
                <div class="category-title">
                    <h3 class="uppercase">{{ defaultSubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of defaultCategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-posts-container" *ngIf="selectedOption === 'world_football'">
                <div class="category-title">
                    <h3 class="uppercase">{{ worldFootballSubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of worldFootballCategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-posts-container" *ngIf="selectedOption === 'basketball'">
                <div class="category-title">
                    <h3 class="uppercase">{{ basketballSubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of basketballCategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-posts-container" *ngIf="selectedOption === 'goergian_rugby'">
                <div class="category-title">
                    <h3 class="uppercase">{{ georgianRugbySubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of georgianRugbyCategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-posts-container" *ngIf="selectedOption === 'MMA'">
                <div class="category-title">
                    <h3 class="uppercase">{{ MMASubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of MMACategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-posts-container" *ngIf="selectedOption === 'judo'">
                <div class="category-title">
                    <h3 class="uppercase">{{ judoSubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of judoCategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-posts-container" *ngIf="selectedOption === 'others'">
                <div class="category-title">
                    <h3 class="uppercase">{{ othersSubListing.mainTitle }}</h3>
                </div>
                <div class="category-posts">
                    <div class="category-post" *ngFor="let post of othersCategoryPosts.data" (click)="redirectToPostDetails(post.id)">
                        <div class="info-container">
                            <p class="subtitle">{{ post.subtitle }}</p>
                            <h4 class="title">{{ post.title }}</h4>
                        </div>
                        <div class="image-container">
                            <img [src]="post.image.fileUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscription-form" *ngIf="selectedOption === 'contacts'">
                <div class="form-container">
                    <div class="header">
                        <h3 class="uppercase">გამოიწერე სიახლეები!</h3>
                        <p>შემოგვიერთდი და პირველი გაეცანი მსოფლიო სპორტის უახლეს ამბებს</p>
                    </div>
                    <div class="subscribe-input-container">
                        <div class="input-container">
                            <input [(ngModel)]="userEmail" type="email" name="userEmail" id="email-input" placeholder="ელ-ფოსტა">
                            <button type="button" id="subscribe-btn" [ngStyle]="enableButton()" (click)="subscribe()">გამოიწერე</button>
                        </div>
                        <div class="message">
                            <p>* სიახლეების გამოწერით ადასტურებ, რომ გაეცანი კონფიდენციალურობის პოლიტიკას და ეთანხმები, რომ შენი
                            მონაცემები დაამუშავოს კომპანიამ შეტყობინებების გამოსაგზავნად</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>