@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

.home-container {
    position: relative;
    width: 100%;
    height: 100%;

    .cover {
        position: relative;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("https://europop.ge/images/coverNotAuth.png") center top / cover no-repeat scroll;
        aspect-ratio: 3.035 / 1;
    }

    .main-content {
        @include flex(column, center, center);
        width: 100%;
        height: 100%;
    }
}