<div class="home-container">
    <div class="cover"></div>
    <div class="main-content">
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <p>Some content</p><br>
        <img width="820" height="300" src="./../../../assets/images/mobile-app-advertisment.jpg" alt="">
    </div>
</div>
