.cover {
    position: relative;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    background: url("https://europop.ge/images/coverNotAuth.png") center top / contain no-repeat scroll;
    aspect-ratio: 3.035 / 1;
}