<div class="author-profile-container" *ngIf="authorProfileData">
    <div class="author-info-container">
        <div class="author-cover">
            <img [src]="authorProfileData.data.coverImage.fileUrl" alt="">
        </div>
        <div class="author-info-card" #scrollSection>
            <div class="author-main-info">
                <div class="image-container">
                    <img class="profile-image" [src]="authorProfileData.data.avatar.fileUrl" alt="">
                    <span class="e-logo"><img width="23" height="23" src="./../../../assets/images/big-e.svg" alt=""></span>
                </div>
                <div class="info-container">
                    <h2 class="author-name uppercase">
                        {{ authorProfileData.data.firstName }} {{ authorProfileData.data.lastName }}
                    </h2>
                    <div class="scores">
                        <div class="subscribers">
                            {{ authorProfileData.data.subscribersCount }}
                            <span>გამომწერი</span>
                        </div>
                        <div class="likes">
                            {{ authorProfileData.data.likesCount }}
                            <span>მოწონება</span>
                        </div>
                        <div class="posts">
                            {{ authorProfileData.data.postsCount }}
                            <span>სტატია</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="socials">
                <ul class="social-media-links-list">
                    <li class="social-item" *ngIf="authorProfileData.data.socials.facebookUrl !== '' && authorProfileData.data.socials.facebookUrl !== null">
                        <a target="_blank" [href]="authorProfileData.data.socials.facebookUrl" class="social"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li class="social-item" *ngIf="authorProfileData.data.socials.youtubeUrl !== '' && authorProfileData.data.socials.youtubeUrl !== null">
                        <a target="_blank" [href]="authorProfileData.socials.youtubeUrl" class="social"><i class="bi bi-youtube"></i></a>
                    </li>
                    <li class="social-item" *ngIf="authorProfileData.data.socials.instagramUrl !== '' && authorProfileData.data.socials.instagramUrl !== null">
                        <a target="_blank" [href]="authorProfileData.data.socials.instagramUrl" class="social"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="social-item" *ngIf="authorProfileData.data.socials.messengerUrl !== '' && authorProfileData.data.socials.messengerUrl !== null">
                        <a target="_blank" [href]="authorProfileData.data.socials.messengerUrl" class="social"><i class="bi bi-messenger"></i></a>
                    </li>
                    <li class="social-item" *ngIf="authorProfileData.data.socials.tiktokUrl !== '' && authorProfileData.data.socials.tiktokUrl !== null">
                        <a target="_blank" [href]="authorProfileData.data.socials.tiktokUrl" class="social"><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                </ul>
                <button type="button" id="subscribe-btn">
                    გამოწერა <i class="fa-solid fa-user-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="postsByAuthor">
        <div class="authors-posts-container">
            <div class="container-inner">
                <div class="header">
                    <h3 class="uppercase">სტატიები</h3>
                </div>
                <div class="posts-by-author">
                    <ng-container *ngIf="postsByAuthor.data">
                        <ng-container *ngFor="let post of postsByAuthor.data">
                            <ng-container *ngIf="post.postType.name === 'სტანდარტული სტატია'">
                                <div class="standart-post-card">
                                    <div class="image-container">
                                        <img (click)="redirectToPostDetails(post.id)" [src]="post.image.fileUrl" alt="">
                                    </div>
                                    <div class="info-container">
                                        <p class="subtitle">{{ post.subtitle }}</p>
                                        <h3 (click)="redirectToPostDetails(post.id)" class="title">{{ post.title }}</h3>
                                        <div class="text" [innerHTML]="post.text"></div>
                                        <div class="additional-info">
                                            <p>{{ post.publishedAt | relativeTime }}
                                                <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                                {{ post.estimatedReadTime }} წუთი
                                            </p>
                                            <div class="interaction-buttons">
                                                <button type="button" id="post-interaction-btn">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                </button>
                                                <button type="button" id="post-interaction-btn">
                                                    <i class="bi bi-chat-dots"></i>
                                                </button>
                                                <button type="button" id="post-interaction-btn">
                                                    <i class="bi bi-bookmark-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="post.postType.name === 'ანალიტიოკური სტატია'">
                                <div class="analytical-post-card">
                                    <div class="image-container">
                                        <img (click)="redirectToPostDetails(post.id)" [src]="post.image.fileUrl" alt="">
                                    </div>
                                    <div class="info-container">
                                        <div class="main-info">
                                            <p class="subtitle">{{ post.subtitle }}</p>
                                            <h3 (click)="redirectToPostDetails(post.id)" class="title uppercase">
                                                <img *ngIf="post.postType.name === 'ანალიტიოკური სტატია'" width="34" height="20" [src]="epopPlusLogo" alt="">
                                                {{ post.title }}
                                            </h3>
                                        </div>
                                        <div class="additional-info">
                                            <div class="add-info">
                                                <img (click)="redirectToAuthor(post.author.id)" [src]="post.author.avatar.fileUrl" alt="">
                                                <p (click)="redirectToAuthor(post.author.id)" class="author-name">{{ post.author.firstName }} {{ post.author.lastName }}</p>
                                                <span>&centerdot;</span>
                                                <p>{{ post.publishedAt | relativeTime }}</p>
                                                <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                                <p>{{ post.estimatedReadTime }} წუთი</p>
                                            </div>
                                            <div class="interaction-buttons">
                                                <button type="button" id="post-interaction-btn">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                </button>
                                                <button type="button" id="post-interaction-btn">
                                                    <i class="bi bi-chat-dots"></i>
                                                </button>
                                                <button type="button" id="post-interaction-btn">
                                                    <i class="bi bi-bookmark-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="pagination">
                    <button type="button" (click)="goToPage(1)" *ngIf="currentPage > 1">
                        <i class="fa-solid fa-angles-left"></i>
                    </button>
                    <button type="button" (click)="goToPage(currentPage - 1)" *ngIf="currentPage > 1">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button type="button" *ngFor="let page of paginationRange"
                        [class.active]="page === currentPage" (click)="goToPage(page)">
                        {{ page }}
                    </button>
                    <button type="button" (click)="goToPage(currentPage + 1)" *ngIf="currentPage < totalPages">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <button type="button" (click)="goToPage(totalPages)" *ngIf="currentPage < totalPages">
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
            </div>
            <aside class="aside">
                <ng-container *ngIf="regularPosts">
                    <div class="regular-posts">
                        <div class="header">
                            <h3 class="uppercase">ბოლო სიახლეები</h3>
                            <p>გაეცანი მსოფლიო სპორტის სიახლეებს</p>
                        </div>
                        <div class="list">
                            <div class="post-link" *ngFor="let post of regularPosts.data" (click)="redirectToPostDetails(post.id)">
                                <div class="title">
                                    <h6>{{ post.title }}</h6>
                                </div>
                                <div class="button-container">
                                    <button type="button">
                                        <i class="bi bi-arrow-right-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="socialMediaLinks">
                    <div class="social-media-links">
                        <div class="header">
                            <h3 class="uppercase">სოციალური ქსელები</h3>
                        </div>
                        <ul class="list">
                            <li class="item" *ngFor="let link of socialMediaLinks">
                                <a class="link" [href]="link.linkUrl">
                                    <div class="media-link-name">
                                        <img [src]="link.imageUrl" alt=""> {{ link.name }}
                                    </div>
                                    <button type="button">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-container *ngIf="europebetPosts && featuredEuropebetPost">
                    <div class="europebet-posts">
                        <span class="powered-by"><img [src]="poweredBy" alt=""></span>
                        <span class="europebet"><img [src]="europeBetLogo" alt=""></span>
                        <div class="featured-post-card">
                            <div class="image-container" (click)="redirectToPostDetails(featuredEuropebetPost.data.id)">
                                <img [src]="featuredEuropebetPost.data.image.fileUrl" alt="">
                            </div>
                            <div class="info-container">
                                <p class="subtitle">{{ featuredEuropebetPost.data.subtitle }}</p>
                                <h3 class="title uppercase" (click)="redirectToPostDetails(featuredEuropebetPost.data.id)">
                                    <img width="18" height="18" [src]="europeBetMiniLogo" alt="">
                                    {{ featuredEuropebetPost.data.title }}
                                </h3>
                                <div class="author-data">
                                    <img width="28" height="28" [src]="featuredEuropebetPost.data.author.avatar.fileUrl" alt="">
                                    <p>{{ featuredEuropebetPost.data.author.firstName }} {{
                                        featuredEuropebetPost.data.author.lastName }}</p>
                                </div>
                                <div class="additional-info">
                                    <p>{{ featuredEuropebetPost.data.publishedAt | relativeTime }}
                                        <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                        {{ featuredEuropebetPost.data.estimatedReadTime }} წუთი
                                    </p>
                                    <div class="buttons-container">
                                        <button type="button" id="post-interaction-btn">
                                            <i class="bi bi-hand-thumbs-up"></i>
                                        </button>
                                        <button type="button" id="post-interaction-btn">
                                            <i class="bi bi-chat-dots"></i>
                                        </button>
                                        <button type="button" id="post-interaction-btn">
                                            <i class="bi bi-bookmark-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="smaller-post-card" *ngFor="let post of europebetPosts.data">
                            <div class="main-info">
                                <div class="image-container" (click)="redirectToPostDetails(post.id)">
                                    <img [src]="post.image.fileUrl" alt="">
                                </div>
                                <div class="info-container">
                                    <p class="subtitle">{{ post.subtitle }}</p>
                                    <h3 class="title" (click)="redirectToPostDetails(post.id)">
                                        <img width="16" height="16" [src]="europeBetMiniLogo" alt="">
                                        {{ post.title }}
                                    </h3>
                                    <div class="text" [innerHTML]="post.text"></div>
                                </div>
                            </div>
                            <div class="additional-info">
                                <p>{{ post.publishedAt | relativeTime }}
                                    <span>&centerdot;</span> <i class="bi bi-file-earmark-text"></i>
                                    {{ post.estimatedReadTime }} წუთი
                                </p>
                                <div class="buttons-container">
                                    <button type="button" id="post-interaction-btn">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    </button>
                                    <button type="button" id="post-interaction-btn">
                                        <i class="bi bi-chat-dots"></i>
                                    </button>
                                    <button type="button" id="post-interaction-btn">
                                        <i class="bi bi-bookmark-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="more-posts-link">
                            <div class="link">
                                <a href="/posts/powered-by-europebet">მეტი <i class="bi bi-arrow-right-circle-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </aside>
        </div>
    </ng-container>
</div>
