<div class="privacy-policy-container">
    <div class="container-inner">
        <h3 class="header uppercase">კონფიდენციალურობა</h3>
        <p class="date">გამოქვეყნებულია: 03 აპრილი 2024</p>
        <div class="privacy-policy-text">
            <h2>კონფიდენციალურობის&nbsp;პოლიტიკა</h2>
            <ol>
                <li><strong>შესავალი;</strong></li>
            </ol>
            <p>წინამდებარე წესები და პირობები და კონფიდენციალურობის პოლიტიკა, რომელიც განთავსებული და გამოქვეყნებულია
                წინამდებარე ვებგვერდზე&nbsp;<a target="_blank" rel="noopener noreferrer" href="http://www.europop.ge">www.europop.ge</a> (შემდგომში „ვებგვერდი“) და აპლიკაციაში-&nbsp;Europop
                (შემდგომში „აპლიკაცია“) წარმოადგენს შპს ევროპაბეთსა (ს/ნ 240420647) და მომხმარებელს შორის&nbsp;
                გაფორმებულ სამომხმარებლო შეთანხმებას, რომელიც განსაზღვრავს მომხმარებლის მიერ აპლიკაციასა და ვებგვერდზე
                რეგისტრაციის,
                ავტორიზაციის წესებს, რეგისტრაციისას მითითებულ და ვებგვერდის/აპლიკაციის სარგებლობის დროს მომხმარებლის
                მიერ
                მითითებული ინფორმაციის დამუშავების წესებს და ფარგლებს. ვებგვერდზე რეგისტრაციით მომხმარებელი ადასტურებს,
                რომ
                გაეცნო ვებგვერდისა და აპლიკაციით სარგებლობის წესებსა და პირობებს და კონფიდენციალურობის პოლიტიკას და
                ეთანხმება მას.&nbsp;&nbsp;</p>
            <p>მომხმარებელი უფლებამოსილია ნებისმიერ დროს უარი განაცხადოს მისი პერსონალური მონაცემების პირდაპირი
                მარკეტინგის
                მიზნებისთვის დამუშავებაზე, რასაც გამოხატავს რეგისტრაციისას შესაბამისი უჯრის არ მონიშვნით რეგისტრაციისას
                ან
                ნებისმიერ დროს მის ავტორიზებულ პროფილში ნიუსლეთერის გამოწერის გაუქმებით.</p>
            <p>&nbsp;</p>
            <p><strong>2. მონაცემების&nbsp;დამუშავების&nbsp;საფუძვლები და ფარგლები;</strong></p>
            <p>ვებგვერდზე/აპლიკაციაში რეგისტრაციით და მისი სარგებლობით, თქვენ აცხადებთ თანხმობას კონფიდენციალურობის
                პოლიტიკაზე,
                ეთანხმებით მის პირობებს და ანიჭებთ კომპანიას და მის პარტნიორებს უფლებამოსილებას შეინახონ და დაამუშავონ
                ინფორმაცია მომსახურების გაწევის მიზნებისთვის კანონმდებლობის შესაბამისად.&nbsp;</p>
            <p>მონაცემების დამუშავების საფუძველია მომხმარებლის მიერ გაცემული თანხმობა. კომპანია, რეგისტრაციისას
                მითითებულ
                ინფორმაციას და ვებგვერდის/აპლიკაციის გამოყენებისას შეგროვებულ ინფორმაციას, ამუშავებს კანონმდებლობის
                მოთხოვნების
                დაცვით და მიმართავს ყველა ზომას, რომ ვებგვერდზე/აპლიკაციაში შეყვანილი ნებისმიერი მონაცემი
                კონფიდენციალურობის
                დაცვით იყოს შენახული.&nbsp;</p>
            <p>კომპანია უზრუნველყოფს, რომ თქვენ მიერ მითითებული ინფორმაციის გამოყენება და მისი შენახვა შესაბამისობაშია
                საქართველოს მოქმედ კანონმდებლობასთან, კერძოდ, პერსონალური მონაცემების დაცვის მარეგულირებელ
                კანონმდებლობასთან.
                კომპანია უზრუნველყოფს კანონმდებლობის ნებისმიერი ცვლილების შემთხვევაში კონფიდენციალურობის პოლიტიკის და
                წესების და
                პირობების შესაბამისობაში მოყვანას.&nbsp;</p>
            <p>მომხმარებელი ვალდებულია არ გაამჟღავნოს თავისი მომხმარებლის სახელი და პაროლი, რომლითაც
                ვებგვერდზე/აპლიკაციაში
                ახდენს ავტორიზაციას. ნებისმიერი არაავტორიზებული შეღწევა წარმოადგენს მომხმარებლის პასუხისმგებლობას და
                კომპანიას
                სრულად თავისუფლდება, ნებისმიერი ამგვარი შეღწევის დროს დამდგარი შედეგისგან. ნებისმიერი ავტორიზაცია
                განიხილება
                მომხმარებლის მიერ განხორციელებულ ავტორიზაციად.&nbsp;</p>
            <p>მონაცემების გაზიარება შეიძლება მოხდეს პარტნიორი კომპანიებისთვის, რომელთა მეშვეობითაც კომპანია
                მომსახურებას უწევს
                მომხმარებელს. წინამდებარე კონფიდენციალურ პოლიტიკაზე გაცხადებული თანხმობა წარმოადგენს ამ პირობაზე
                გაცხადებულ
                თანხმობასაც.&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>3. შეგროვებული&nbsp;მონაცემები;</strong></p>
            <p>ტრენდების გასაანალიზებლად, ვებგვერდის და აპლიკაციის სამართავად, სრულყოფილი მომსახურების შეთავაზების
                მიზნით,
                კომპანია ამუშავებს და ინახავს შემდეგ პერსონალურ და არაპერსონალურ ინფორმაციას:</p>
            <ul>
                <li>მომხმარებლის მეტსახელი;</li>
                <li>ელფოსტა;</li>
                <li>რეგისტრაციის თარიღი;</li>
                <li>ტელეფონის ნომერი;</li>
                <li>რეგისტრაციის წყარო;</li>
                <li>ავატარი;</li>
                <li>მოწყობილობის ტიპი;</li>
                <li>ინფორმაცია მოწონებული პოსტების, დატოვებული კომენტარების შესახებ;</li>
                <li>ინფორმაცია სიახლეების და შეტყობინების გამოწერის შესახებ;</li>
            </ul>
            <p>კომპანია ვებგვერდს სრულყოფილად გამართვის მიზნით იყენებს სხვადასხვა საშუალებებს და მესამე პირების
                მომსახურებას.
                კერძოდ, Google Tag Manager, Ad Ocean, One Signal, AWS, Spotify, YouTube.&nbsp;კომპანიის
                კონფიდენციალურობის
                პოლიტიკა არ ვრცელდება მესამე პირებზე. თუ თქვენ გადამისამართდებით სხვა ვებგვერდზე, გთხოვთ, გაეცანით ამ
                ვებგვერდის
                გამოყენების წესებსა და პირობებს და კონფიდენციალურობის პოლიტიკას.&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>4. პირდაპირი მარკეტინგის მიზნით მონაცემების დამუშავება;</strong></p>
            <p>შპს&nbsp;ევროპაბეთი&nbsp;თქვენი&nbsp;თანხმობის&nbsp;საფუძველზე&nbsp;ამუშავებს&nbsp;პერსონალურ&nbsp;ინფორმაციას&nbsp;პირდაპირიმარკეტინგის&nbsp;მიზნით&nbsp;გამოყენებისთვის.&nbsp;
            </p>
            <p>თანხმობად&nbsp;ჩაითვლება&nbsp;რეგისტრაციისას&nbsp;ან&nbsp;ვებგვერდზე
                /აპლიკაციაში&nbsp;შესვლისას,&nbsp;ელექტრონული&nbsp;ფორმითგამოხატული&nbsp;ქმედება
                /&nbsp;შესაბამისი&nbsp;უჯრის&nbsp;მონიშვნა /&nbsp;ან&nbsp;ღილაკზე&nbsp;ხელის&nbsp;დაჭერა.&nbsp;</p>
            <p>პირდაპირი&nbsp;მარკეტინგის&nbsp;მიზნისთვის&nbsp;კომპანია&nbsp;ამუშავებს&nbsp;შემდეგ&nbsp;პერსონალურ&nbsp;მონაცემებს:&nbsp;სახელი,&nbsp;გვარი,&nbsp;ტელეფონის&nbsp;ნომერი&nbsp;და&nbsp;ელექტრონული&nbsp;ფოსტა.
            </p>
            <p>პირდაპირი&nbsp;მარკეტინგი&nbsp;გულისხმობს&nbsp;კომპანიის&nbsp;მიერ&nbsp;ზემოთ&nbsp;აღნიშნული&nbsp;პერსონალური&nbsp;მონაცემებისდამუშავებას&nbsp;იმისთვის,&nbsp;რომ&nbsp;მოგაწოდოთ&nbsp;ინფორმაცია&nbsp;კომპანიაში&nbsp;არსებული&nbsp;სიახლეების,&nbsp;აქციების,&nbsp;შემოთავაზებების,&nbsp;განახლებული&nbsp;პროდუქტის,&nbsp;ახალი&nbsp;ფუნქციონალის&nbsp;და&nbsp;ნებისმიერი&nbsp;სხვა&nbsp;სიახლის&nbsp;შესახებ,&nbsp;რაც&nbsp;მიზნად&nbsp;ისახავს&nbsp;თქვენზე&nbsp;მორგებული&nbsp;და&nbsp;საუკეთესო&nbsp;მომსახურების&nbsp;მიწოდებას.
            </p>
            <p>მომხმარებელი&nbsp;უფლებამოსილია&nbsp;ნებისმიერ&nbsp;დროს&nbsp;მოითხოვოს&nbsp;პირდაპირი&nbsp;მარკეტინგის&nbsp;მიზნით&nbsp;მისიმონაცემების&nbsp;დამუშავების&nbsp;შეწყვეტა&nbsp;შემდეგი&nbsp;ფორმით
                -&nbsp;ნებისმიერ დროს მის ავტორიზებულ პროფილში ნიუსლეთერის გამოწერის გაუქმებით.</p>
            <p>მომხმარებლის&nbsp;მიერ&nbsp;პირდაპირი&nbsp;მარკეტინგის&nbsp;მიზნებისთვის&nbsp;მისი&nbsp;მონაცემების&nbsp;დამუშავებაზე&nbsp;უარისდაფიქსირებიდან&nbsp;არაუგვიანეს
                7&nbsp;სამუშაო&nbsp;დღისა,&nbsp;კომპანია&nbsp;წყევტს&nbsp;მონაცემთა&nbsp;დამუშავებას,&nbsp;რის&nbsp;შესახებაცეცნობება&nbsp;მომხმარებელს.&nbsp;
            </p>
            <p>კომპანია&nbsp;აღრიცხავს&nbsp;მონაცემთა&nbsp;დამუშავებაზე&nbsp;თანხმობის&nbsp;მიცემის&nbsp;და&nbsp;მასზე&nbsp;უარის&nbsp;თქმის&nbsp;დროსა&nbsp;და&nbsp;ფაქტს.&nbsp;აღნიშნულ&nbsp;მონაცემებს&nbsp;კომპანია&nbsp;ინახავს&nbsp;პირდაპირი&nbsp;მარკეტინგის&nbsp;განხორციელების&nbsp;ვადით&nbsp;და&nbsp;მისიშეწყვეტიდან
                1&nbsp;წლის&nbsp;განმავლობაში.</p>
            <p>&nbsp;</p>
            <p><strong>5. მომხმარებლის&nbsp;უფლებები;</strong></p>
            <p>მომხმარებელს&nbsp;უფლება&nbsp;აქვს&nbsp;გაეცნოს&nbsp;მის&nbsp;შესახებ&nbsp;არსებულ&nbsp;პერსონალურ&nbsp;მონაცემებს,&nbsp;მოითხოვოს&nbsp;მისი
                ასლები,&nbsp;მოითხოვოს&nbsp;მონაცემების&nbsp;გასწორება,&nbsp;განახლება,&nbsp;დამატება,&nbsp;დაბლოკვა,&nbsp;წაშლა&nbsp;ან&nbsp;განადგურება.მომხმარებელს&nbsp;უფლება&nbsp;აქვს,&nbsp;თუ&nbsp;ეს&nbsp;ტექნიკურად&nbsp;შესაძლებელია,&nbsp;სტრუქტურიზებული,&nbsp;საზოგადადგამოყენებადი&nbsp;და&nbsp;მანქანურად&nbsp;წაკითხვადი&nbsp;ფორმატით&nbsp;მიიღოს&nbsp;მის&nbsp;მიერ&nbsp;მიწოდებული&nbsp;მონაცემები&nbsp;ანმოითხოვოს&nbsp;ამ&nbsp;მონაცემთა&nbsp;სხვა&nbsp;პირისთვის&nbsp;გადაცემა.
            </p>
            <p>ევროპაბეთი&nbsp;განსაკუთრებული&nbsp;სიფრთხილით&nbsp;ეკიდება&nbsp;მომხმარებლების&nbsp;პერსონალური&nbsp;ინფორმაციის&nbsp;დაცვისსაკითხს&nbsp;და&nbsp;იღებს&nbsp;საქართველოს&nbsp;კანონმდებლობით&nbsp;აუცილებელ&nbsp;ყველა&nbsp;გონივრულ&nbsp;ზომას&nbsp;ინფორმაციისუსაფრთხოების&nbsp;უზრუნველსაყოფად.&nbsp;
            </p>
            <p>მომხმარებელი უფლებამოსილია საკუთარი გადაწყვეტილებით ნებისმიერ დროს დახუროს მისი ანგარიში. ანგარიშის
                დახურვა
                შესაძლებელია, როგორც აპლიკაციაში, ასევე, ვებგვერდის მეშვეობით. ანგარიშის დახურვის წესი მითითებულია
                წესებსა და
                პირობებში. ანგარიშის დახურვის შემდეგ კომპანია წყვეტს მომხმარებლის მიერ მითითებული მონაცემების
                დამუშავებას.
                დახურული ანგარიშის აღდენა არ ხდება. მომხმარებელი უფლებამოსილია ნებისმიერ დროს თავიდან დარეგისტრირდეს
                ვებგვერდზე/აპლიკაციაში.</p>
            <p>&nbsp;</p>
            <p><strong>6. ცვლილებები;</strong></p>
            <p>კომპანია უფლებას იტოვებს შეცვალოს წინამდებარე კონფიდენციალურობის პოლიტიკა დროდადრო, ყველა ცვლილება
                განთავსებული
                იქნება ვებგვერდსა და აპლიკაციაში და ძალაში შევა განთავსების მომენტიდან. მომხმარებლის მიერ ვებგვერდისა და
                აპლიკაციით სარგებლობის გაგრძელება განხილული იქნება ცვლილებებზე თანხმობად.&nbsp;</p>
            <p>&nbsp;</p>
            <h2>Privacy policy</h2>
            <ol>
                <li><strong>Introduction;</strong></li>
            </ol>
            <p>Presented terms and conditions and the&nbsp;Privacy policy, which are posted and published on the
                website -
                <a target="_blank" rel="noopener noreferrer" href="http://www.europop.ge">www.europop.ge</a>
                (hereinafter
                referred to as the “Web-page”) and in the application – Europop (hereinafter referred to as the
                “Application”)
                constitute a consumer agreement signed between LLC&nbsp;Europebet (ID 240420647) and the User, which
                determines
                the&nbsp;procedures&nbsp;for registration and authorization of the&nbsp;User in the&nbsp;Application and
                on
                the&nbsp;Web page,&nbsp;as well as&nbsp;the rules and scope of processing of information specified
                during
                registration and&nbsp;defined by the user when using the&nbsp;Web page/Application. By registering on
                the&nbsp;Web page, the user confirms that he/she has read the terms of use of the&nbsp;Web page and
                the&nbsp;Application and the&nbsp;Privacy policy and agrees with them.&nbsp;
            </p>
            <p>The user retains the right to reject the processing of their personal data for direct marketing purposes
                at any
                time. This refusal can be indicated by abstaining from checking the relevant box
                during&nbsp;the&nbsp;registration or cancelling subsription to the newsletters in authorized
                profile.&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>2. Grounds and scope of data processing;</strong></p>
            <p>By registering and using the&nbsp;Web page/Application, you&nbsp;give consent&nbsp;to the&nbsp;Privacy
                policy,
                agree to its terms and allow the company and its partners to store and process information for the
                purpose of
                providing services in accordance with the law.&nbsp;</p>
            <p>The basis for data processing is the consent given by the user. The Company processes the information
                provided
                during registration and information collected when using the Web page/Application in compliance with
                legal
                requirements and takes all measures to maintain the confidentiality of any data entered on the&nbsp;Web
                page/Application.</p>
            <p>The Company guarantees that the use and storage of the information provided by you is carried out in
                accordance
                with the current legislation of Georgia, in particular the legislation regulating the protection of
                personal
                data. The Company will ensure that the&nbsp;Privacy Policy and Terms and Conditions are updated in the
                event of
                any changes in legislation.&nbsp;</p>
            <p>The user is obliged not to disclose his/her username and password, with which he/she is authorized on the
                web
                page/Application. Any unauthorized access&nbsp;represents the responsibility of the user and the company
                is
                fully released from the consequences of any such access. Any authorization is considered to be an
                authorization
                made by the user.</p>
            <p>Data may be transferred to partner companies through which the Company provides services to clients.
                Acceptance
                of this&nbsp;Privacy Policy constitutes&nbsp;consent to this condition as well.</p>
            <p>&nbsp;</p>
            <p><strong>3. Collected data;</strong></p>
            <p>In order to analyze trends, operate the&nbsp;Website and&nbsp;the Application, and offer the service, the
                company
                processes and stores the following personal and non-personal information:</p>
            <ul>
                <li>Username;</li>
                <li>E-mail;</li>
                <li>Registration date;</li>
                <li>Telephone number;</li>
                <li>Registration source;</li>
                <li>Avatar;</li>
                <li>Device type;</li>
                <li>Information about liked posts and written comments;</li>
                <li>Information about subscribing to news and notifications;</li>
            </ul>
            <p>The company uses various tools and services of third parties in order to ensure the smooth operation of
                the&nbsp;website. Namely, Google Tag Manager, Ad Ocean, One Signal, AWS, Spotify, YouTube. The
                company's&nbsp;Privacy policy does not apply to third parties. If you are redirected to another website,
                please
                read that website's terms of use and privacy policy.</p>
            <p>&nbsp;</p>
            <p><strong>4. Data processing for direct marketing purposes;</strong></p>
            <p>Europebet LLC utilizes your consent as the basis for processing personal information for direct marketing
                purposes.&nbsp;</p>
            <p>Your agreement is deemed effective during registration or when entering the site, expressed
                electronically
                through appropriate checkboxes or button selections.</p>
            <p>For the purpose of direct marketing, the company processes the following personal data: name, surname,
                phone
                number, and email.&nbsp;</p>
            <p>This involves utilizing the mentioned personal data to provide you with information about existing news,
                promotions, offers, product updates, new functionalities, and any other relevant news aimed at
                customizing and
                enhancing the delivery of the best services.</p>
            <p>You have the authority to request the termination of your data processing for direct marketing purposes
                at any
                time. This request can be submitted by cancelling subsription to the newsletters in authorized profile.
            </p>
            <p>The company ensures that your refusal to process data for direct marketing purposes is acknowledged
                promptly, no
                later than 7 working days. This refusal is documented by the company, and you will be duly
                notified.&nbsp;</p>
            <p>The company retains records of data processing consents and refusals, maintaining information related to
                direct
                marketing for a period of 1 year after termination.</p>
            <p>&nbsp;</p>
            <p><strong>5. User’s rights;</strong></p>
            <p>The customer has the right to request information about their existing personal data, including copies of
                such
                data. Furthermore, they have the right to request corrections, updates, additions, blocks, deletions, or
                the
                destruction of their data. If technically feasible, the customer also has the right to receive their
                data in a
                structured, generally usable, and mechanically readable format or to request the transfer of this data
                to
                another person.</p>
            <p>Europebet places special emphasis on the protection of users' personal information, taking the issue
                seriously.
                In line with Georgia's legal requirements, the company ensures all reasonable measures are taken to
                guarantee
                the security of information. This commitment reflects the company's dedication to safeguarding user
                privacy and
                complying with relevant data protection standards.</p>
            <p>The user is entitled to delete&nbsp;the account at any time at own discretion. The account can be deleted
                both in the application and through the website. The procedure of account deletion is specified in the
                Terms and Conditions.&nbsp;Deleted account cannot be restored.&nbsp;After the account deletion, the
                company will stop processing the data specified by the user. The user is entitled to re-register on the
                website/application at anytime.</p>
            <p>&nbsp;</p>
            <p><strong>6. Amendments;</strong></p>
            <p>The Company reserves the right to change this Privacy Policy from time to time, all changes will be
                published on
                the Website and&nbsp;the&nbsp;Application and will come into force upon publication. User's continued
                use of the
                website and application will be deemed as the acceptance of the changes.</p>
        </div>
    </div>
</div>

