@import './../../../styles.scss';

.login-container {
    @include flex(column, center, center);
    background-image: url('./../../../assets/images/auth-cover.png');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}