@import './../../../styles.scss';

.epop-plus-container {
    @include flex(column, center, flex-start);
    position: relative;
    width: 100%;
    height: 100%;

    .cover {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url('./../../../assets/images/main-cover.png');
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
        aspect-ratio: 3.035 / 1;
    }

    .main-content {
        @include flex(column, center, center);
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;

        .registration-message {
            @include flex(column, center, center);
            max-width: 1320px;
            margin: 50px auto 50px;

            h2 {
                @include font(600, 32px, #fff);
                line-height: 52px;
                margin-bottom: 16px;
                text-align: center;
            }

            #register-btn {
                @include font(500, 14px, #fff);
                background-color: #F15A22;
                font-family: inherit;
                padding: 0 16px;
                height: 43px;
                border-radius: 8px;
                border: none;
                cursor: pointer;
            }
        }

        .more-content {
            @include flex(row, flex-start, space-between);
            width: 1220px;

            .posts-container {
                @include flex(column, center, center);
                width: 800px;

                .big-analytical-post-card {
                    @include flex(column, center, center);
                    background-color: rgb(20, 21, 22);
                    padding: 16px;
                    border-radius: 12px;
                    overflow: hidden;
                    margin-bottom: 24px;
                    width: 100%;
                    height: 607px;
                
                    .image-container {
                        flex: 1 1 0%;
                        width: 100%;
                        height: 436px;
                        border-radius: 12px;
                
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: inherit;
                            display: block;
                            cursor: pointer;
                        }
                    }
                
                    .info-container {
                        @include flex(column, flex-start, space-between);
                        margin-top: 12px;
                        padding-top: 12px;
                        width: 100%;
                
                        .main-info {
                            @include flex(column, flex-start, center);
                            width: 100%;
                
                            .subtitle {
                                @include font(500, 14px, #f15a22);
                                line-height: 18px;
                                margin-bottom: 12px;
                            }
                
                            .title {
                                @include font(600, 16px, #fff);
                                line-height: 21px;
                                min-height: 33px;
                                cursor: pointer;
                                margin: 0;
                
                                img {
                                    margin-right: 4px;
                                }
                            }
                        }
                
                        p {
                            font-size: 14px;
                            color: #B5B5B5;
                
                            span {
                                padding: 0 8px;
                            }
                        }
                
                        .additional-info {
                            @include flex(row, center, space-between);
                            border-top: 1px solid rgba(73, 73, 75, 0.3);
                            margin-top: 12px;
                            padding-top: 12px;
                            width: 100%;
                
                            .add-info {
                                @include flex(row, center, center);
                
                                .author-name {
                                    @include font(500, 14px, #fff);
                                    cursor: pointer;
                                }
                
                                img {
                                    width: 28px;
                                    height: 28px;
                                    object-fit: cover;
                                    border-radius: 50%;
                                    margin-right: 8px;
                                    cursor: pointer;
                                }
                
                                p {
                                    font-size: 14px;
                                    color: #B5B5B5;
                                }
                
                                span {
                                    padding: 0 8px;
                                }
                
                                i {
                                    color: #b5b5b5;
                                    margin-right: 4px;
                                }
                            }
                
                            .interaction-buttons {
                                @include flex(row, center, center);
                                gap: 16px;
                
                                #post-interaction-btn {
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
                
                                    i {
                                        font-size: 18px;
                                        color: #B5B5B5;
                                        transition: all 0.2s ease-in-out;
                                    }
                
                                    &:hover i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                .analytical-posts-container {
                    @include flex(column, center, center);
                    background-color: rgb(20, 21, 22);
                    padding: 24px 24px;
                    border-radius: 12px;
                    margin-bottom: 24px;
                    width: 100%;

                    .header {
                        @include flex(row, flex-start, space-between);
                        margin-bottom: 24px;
                        width: 100%;

                        .main-info {
                            @include flex(column, flex-start, center);

                            h5 {
                                @include font(700, 20px, #fff);
                            }

                            p {
                                @include font(300, 14px, rgba(142, 142, 146, 0.9));
                                margin-top: 12px;
                            }
                        }

                        #show-all {
                            @include flex(row, center, center);
                            @include font(500, 14px, #f15a22);
                            font-family: inherit;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;

                            i {
                                font-size: 20px;
                                margin-left: 6px;
                            }
                        }
                    }

                    .analytical-posts-slider {
                        @include flex(row, center, flex-start);
                        overflow-x: scroll;
                        flex-wrap: nowrap;
                        padding: 10px 0 28px;
                        width: 100%;
                        gap: 24px;

                        &::-webkit-scrollbar {
                            width: 100%;
                            height: 5px;
                        }

                        &::-webkit-scrollbar-track {
                            background: rgba(68, 68, 72, 0.5);
                            border-radius: 12px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-clip: content-box;
                            background: #F15A22;
                            border-radius: 12px;
                            height: 8px;
                        }

                        .post-card {
                            @include flex(column, center, center);
                            background-color: rgb(28, 28, 29);
                            border-radius: 12px;
                            flex: 0 0 auto;
                            width: 366px;
                            height: 405px;

                            .image-container {
                                border-radius: 12px 12px 0 0;
                                width: 100%;
                                height: 200px;
                                cursor: pointer;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: block;
                                    border-radius: inherit;
                                }
                            }

                            .info-container {
                                @include flex(column, flex-start, space-between);
                                padding: 16px;
                                width: 100%;
                                height: 205px;

                                .subtitle {
                                    @include font(500, 14px, #f15a22);
                                    @include text-ellipsis(1);
                                    line-height: 18px;
                                    margin-bottom: 10px;
                                }

                                .title {
                                    @include font(600, 16px, #fff);
                                    @include text-ellipsis(3);
                                    line-height: 21px;
                                    min-height: 64px;
                                    margin: 0;
                                    cursor: pointer;
                                }

                                .author-info-container {
                                    @include flex(row, center, flex-start);
                                    margin-top: 10px;
                                    width: 100%;
                                    gap: 8px;

                                    .author-image {
                                        width: 28px;
                                        height: 28px;
                                        border-radius: 50%;
                                        position: relative;
                                        border: 2px solid rgb(28, 28, 29);
                                        box-sizing: content-box;
                                        cursor: pointer;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            display: block;
                                            border-radius: inherit;
                                        }
                                    }

                                    .author-info p {
                                        @include font(500, 12px, #fff);
                                        cursor: pointer;
                                    }
                                }

                                .additional-info {
                                    @include flex(row, center, space-between);
                                    border-top: 1px solid rgba(73, 73, 75, 0.3);
                                    margin-top: 10px;
                                    padding-top: 10px;
                                    width: 100%;

                                    .date-and-read-time {
                                        @include flex(row, center, center);

                                        p {
                                            font-size: 13px;
                                            color: #B5B5B5;
                                        }

                                        span {
                                            padding: 0 6px;
                                        }

                                        i {
                                            margin-right: 4px;
                                            color: #B5B5B5;
                                        }
                                    }

                                    .interaction-buttons {
                                        @include flex(row, center, center);
                                        gap: 16px;

                                        #post-interaction-btn {
                                            background-color: transparent;
                                            border: none;
                                            cursor: pointer;

                                            i {
                                                font-size: 14px;
                                                color: #B5B5B5;
                                                transition: all 0.2s ease-in-out;
                                            }

                                            &:hover i {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .more-latest-posts {
                    @include flex(column, flex-start, center);
                    width: 100%;

                    .header {

                        h3 {
                            @include font(700, 20px, #fff);
                            margin-left: 12px;
                            margin-bottom: 8px;
                        }

                        p {
                            @include font(300, 14px, rgb(142, 142, 146));
                            line-height: 18px;
                            margin-left: 12px;
                            margin-bottom: 10px;
                        }
                    }

                    .post-card {
                        @include flex(row, center, center);
                        background-color: rgb(20, 21, 22);
                        padding: 16px;
                        border-radius: 12px;
                        overflow: hidden;
                        margin-bottom: 12px;
                        width: 100%;
                        height: 210px;

                        .image-container {
                            width: 34%;
                            height: 180px;
                            border-radius: 12px;
                            margin-right: 24px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: inherit;
                                display: block;
                                cursor: pointer;
                            }
                        }

                        .info-container {
                            @include flex(column, flex-start, space-between);
                            padding: 0;
                            width: 66%;
                            height: 180px;

                            .subtitle {
                                @include font(500, 14px, #f15a22);
                                line-height: 18px;
                                margin-bottom: 12px;
                            }

                            .title {
                                @include font(600, 15px, #fff);
                                line-height: 19.5px;
                                cursor: pointer;
                                margin: 0;

                                img {
                                    margin-right: 6px;
                                }
                            }

                            .text {
                                @include text-ellipsis(2);
                                margin-top: 8px;
                                width: 90%;

                                &::ng-deep p {
                                    @include font(300, 14px, rgb(142, 142, 146));
                                }
                            }

                            .additional-info {
                                @include flex(row, center, space-between);
                                border-top: 1px solid rgba(73, 73, 75, 0.3);
                                margin-top: 12px;
                                padding-top: 12px;
                                width: 100%;

                                p {
                                    font-size: 14px;
                                    color: #B5B5B5;

                                    span {
                                        padding: 0 8px;
                                    }
                                }

                                .interaction-buttons {
                                    @include flex(row, center, center);
                                    gap: 16px;

                                    #post-interaction-btn {
                                        background-color: transparent;
                                        border: none;
                                        cursor: pointer;

                                        i {
                                            font-size: 18px;
                                            color: #B5B5B5;
                                            transition: all 0.2s ease-in-out;
                                        }

                                        &:hover i {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .away-meetings-video-gallery,
                .europop-forum-video-gallery,
                .table-derby-video-gallery {
                    @include flex(column, center, center);
                    background-color: rgb(20, 21, 22);
                    padding: 24px 24px;
                    border-radius: 12px;
                    margin-bottom: 24px;
                    width: 100%;

                    .header {
                        @include flex(row, flex-start, space-between);
                        margin-bottom: 24px;
                        width: 100%;

                        .main-info {
                            @include flex(column, flex-start, center);

                            h5 {
                                @include font(700, 20px, #fff);
                            }

                            .description {
                                margin-top: 12px;

                                &::ng-deep p {
                                    @include font(300, 14px, rgba(142, 142, 146, 0.9));
                                }
                            }
                        }

                        #show-all {
                            @include flex(row, center, center);
                            @include font(500, 14px, #f15a22);
                            font-family: inherit;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;

                            i {
                                font-size: 20px;
                                margin-left: 6px;
                            }
                        }
                    }

                    .video-player {
                        @include flex(column, center, center);
                        position: relative;
                        margin-bottom: 24px;
                        border-radius: 12px;
                        width: 100%;
                        height: 426px;

                        .preview-image-container {
                            position: relative;
                            border-radius: inherit;
                            width: 100%;
                            height: 100%;

                            .shadow {
                                box-shadow: rgba(0, 0, 0, 0.8) 0px -112px 56px -52px inset;
                                border-radius: inherit;
                                pointer-events: none;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: inherit;
                                object-fit: cover;
                            }

                            #playBtn {
                                @include flex(column, center, center);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border: 3px solid rgb(255, 255, 255);
                                background-color: transparent;
                                border-radius: 50%;
                                width: 100px;
                                height: 100px;
                                cursor: pointer;

                                img {
                                    width: 29px;
                                    height: 33px;
                                    object-fit: cover;
                                    display: block;
                                }
                            }

                            .title {
                                @include flex(row, center, flex-start);
                                @include font(600, 16px, #fff);
                                max-width: 82%;
                                position: absolute;
                                bottom: 28px;
                                left: 32px;

                                img {
                                    width: 31px;
                                    height: 18px;
                                    margin-right: 6px;
                                }
                            }
                        }

                        iframe {
                            border-radius: inherit;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .video-slider {
                        @include flex(row, center, flex-start);
                        overflow-x: scroll;
                        flex-wrap: nowrap;
                        padding: 10px 0 28px;
                        width: 100%;
                        gap: 16px;

                        &::-webkit-scrollbar {
                            width: 100%;
                            height: 5px;
                        }

                        &::-webkit-scrollbar-track {
                            background: rgba(68, 68, 72, 0.5);
                            border-radius: 12px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-clip: content-box;
                            background: #F15A22;
                            border-radius: 12px;
                            height: 8px;
                        }

                        .video-card {
                            @include flex(column, center, flex-start);
                            background-color: transparent;
                            border-radius: 12px;
                            flex: 0 0 auto;
                            width: 226px;
                            height: 174px;

                            .image-container {
                                border-radius: 12px;
                                position: relative;
                                width: 100%;
                                height: 128px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: block;
                                    border-radius: inherit;
                                }

                                #playBtn {
                                    @include flex(column, center, center);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    border: 3px solid rgb(255, 255, 255);
                                    background-color: transparent;
                                    border-radius: 50%;
                                    width: 48px;
                                    height: 48px;
                                    cursor: pointer;

                                    img {
                                        width: 15.75px;
                                        height: 18px;
                                        object-fit: cover;
                                        display: block;
                                    }
                                }
                            }

                            .info-container {
                                margin-top: 8px;
                                width: 100%;

                                p {
                                    @include font(500, 15px, #fff);
                                    @include text-ellipsis(3);
                                    line-height: 19px;
                                }
                            }
                        }

                        .big-video-card {
                            @include flex(column, center, flex-start);
                            background-color: transparent;
                            border-radius: 12px;
                            flex: 0 0 auto;
                            width: 476px;
                            height: 308px;

                            .image-container {
                                border-radius: 12px;
                                position: relative;
                                width: 100%;
                                height: 262px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: block;
                                    border-radius: inherit;
                                }

                                #playBtn {
                                    @include flex(column, center, center);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    border: 3px solid rgb(255, 255, 255);
                                    background-color: transparent;
                                    border-radius: 50%;
                                    width: 100px;
                                    height: 100px;
                                    cursor: pointer;

                                    img {
                                        width: 29px;
                                        height: 33px;
                                        object-fit: cover;
                                        display: block;
                                    }
                                }
                            }

                            .info-container {
                                margin-top: 8px;
                                width: 100%;

                                p {
                                    @include font(500, 15px, #fff);
                                    @include text-ellipsis(3);
                                    line-height: 19px;
                                }
                            }
                        }
                    }
                }
            }

            .aside {
                @include flex(column, center, center);
                width: 375px;
                gap: 24px;

                .subscribe-prompt {
                    @include flex(column, center, center);
                    background-image: url("./../../../assets/images/subscription-form-cover.png");
                    background-size: cover;
                    padding: 38px 24px 0px;
                    border-radius: 12px;
                    width: 100%;
                    height: 287px;
            
                    .header {
                        @include flex(column, center, center);
                        text-align: center;
                        width: 100%;
            
                        h3 {
                            @include font(900, 24px, #fff);
                            margin-bottom: 4px;
                        }
            
                        p {
                            @include font(400, 14px, #fff);
                            line-height: 18px;
                            margin-bottom: 24px;
                        }
                    }
            
                    .subscribe-input-container {
                        @include flex(column, center, center);
                        width: 100%;
            
                        .input-container {
                            @include flex(row, center, center);
                            background-color: #fff;
                            width: 100%;
                            height: 48px;
                            padding: 4px;
                            border-radius: 12px;
            
                            #email-input {
                                @include font(500, 13px, #000);
                                background-color: transparent;
                                font-family: inherit;
                                padding: 8px 12px;
                                outline: none;
                                border: none;
                                width: 65%;
                                height: 100%;
                            }
            
                            #subscribe-btn {
                                @include font(600, 15px, #ACACAC);
                                font-family: inherit;
                                font-weight: 600;
                                font-size: 15px;
                                border-radius: 12px;
                                padding: 4px;
                                width: 35%;
                                height: 100%;
                                border: none;
                                transition: all 0.2s ease-in-out;
                                cursor: pointer;
                            }
                        }
            
                        .message {
                            @include flex(column, center, center);
                            margin-top: 12px;
                            margin-bottom: 24px;
                            width: 100%;
            
                            p {
                                @include font(300, 11px, #fff);
                                text-align: center;
                            }
                        }
                    }
                }

                .europebet-posts {
                    @include flex(column, flex-start, center);
                    background-image: url("./../../../assets/images/powered-by-europebet-cover.png"),
                    linear-gradient(rgba(14, 15, 16, 0) 0%, rgba(14, 16, 16, 0.3) 100%);
                    background-position-x: center;
                    background-position-y: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 12px;
                    padding: 32px 16px 24px;
                    width: 100%;
                    height: 100%;
            
                    .powered-by {
                        margin-bottom: 2px;
                        padding-left: 26px;
                    }
            
                    .europebet {
                        margin-bottom: 24px;
                    }
            
                    .featured-post-card {
                        @include flex(column, center, center);
                        background-color: rgb(20, 21, 22);
                        border-radius: 12px;
                        margin-bottom: 12px;
                        width: 100%;
                        height: 405px;
            
                        .image-container {
                            width: 100%;
                            height: 190px;
                            border-radius: 12px 12px 0 0;
                            cursor: pointer;
            
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: inherit;
                                object-fit: cover;
                                display: block;
                            }
                        }
            
                        .info-container {
                            @include flex(column, flex-start, center);
                            padding: 16px;
                            width: 100%;
                            height: 215px;
            
                            .subtitle {
                                @include font(500, 14px, #f15a22);
                                line-height: 18px;
                                margin-bottom: 12px;
                            }
            
                            .title {
                                @include font(600, 16px, #fff);
                                cursor: pointer;
                                min-height: 64px;
                                margin: 0;
                            }
            
                            .author-data {
                                @include flex(row, center, flex-start);
                                margin-top: 12px;
                                width: 100%;
            
                                img {
                                    border-radius: 50%;
                                    margin-right: 8px;
                                }
            
                                p {
                                    @include font(500, 12px, #fff);
                                }
                            }
            
                            .additional-info {
                                @include flex(row, center, space-between);
                                border-top: 1px solid rgba(73, 73, 75, 0.3);
                                margin-top: 16px;
                                padding-top: 12px;
                                width: 100%;
            
                                p {
                                    font-size: 13px;
                                    color: rgb(181, 181, 181);
            
                                    span {
                                        padding: 0 8px;
                                    }
                                }
            
                                .buttons-container {
                                    @include flex(row, center, center);
                                    gap: 16px;
            
                                    #post-interaction-btn {
                                        background-color: transparent;
                                        border: none;
                                        cursor: pointer;
            
                                        i {
                                            transition: all 0.2s ease-in-out;
                                            font-size: 16px;
                                            color: #B5B5B5;
                                        }
            
                                        &:hover i {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
            
                    .smaller-post-card {
                        @include flex(column, center, center);
                        background-color: rgb(28, 28, 29);
                        border-radius: 12px;
                        margin-bottom: 12px;
                        padding: 12px;
                        width: 100%;
                        height: 200px;
            
                        .main-info {
                            @include flex(row, center, center);
                            width: 100%;
                            height: 134px;
                            gap: 12px;
            
                            .image-container {
                                width: 146px;
                                height: 100%;
                                border-radius: 12px;
                                cursor: pointer;
            
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: inherit;
                                    object-fit: cover;
                                    display: block;
                                }
                            }
            
                            .info-container {
                                @include flex(column, flex-start, space-between);
                                width: 161px;
                                height: 100%;
            
                                .subtitle {
                                    @include font(500, 13px, #f15a22);
                                    margin-bottom: 7px;
                                }
            
                                .title {
                                    @include font(600, 15px, #fff);
                                    @include text-ellipsis(3);
                                    cursor: pointer;
                                    width: 100%;
            
                                    img {
                                        margin-right: 4px;
                                    }
                                }
            
                                .text {
                                    @include text-ellipsis(2);
                                    margin-top: 8px;
            
                                    &::ng-deep p {
                                        @include font(400, 14px, rgb(142, 142, 146));
            
                                        &::ng-deep a {
                                            color: #F15A22;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
            
                        .additional-info {
                            @include flex(row, center, space-between);
                            border-top: 1px solid rgba(51, 51, 52, 0.7);
                            margin-top: 12px;
                            padding-top: 12px;
                            width: 100%;
            
                            p {
                                @include font(400, 13px, #B5B5B5);
            
                                span {
                                    padding: 0 8px;
                                }
                            }
            
                            .buttons-container {
                                @include flex(row, center, center);
                                gap: 16px;
            
                                #post-interaction-btn {
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
            
                                    i {
                                        transition: all 0.2s ease-in-out;
                                        font-size: 16px;
                                        color: #B5B5B5;
                                    }
            
                                    &:hover i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
            
                    .more-posts-link {
                        @include flex(row, center, flex-end);
                        margin-top: 24px;
                        width: 100%;
            
                        .link a {
                            @include font(500, 16px, #f15a22);
                            text-decoration: none;
                        }
                    }
                }
            
                .social-media-links {
                    @include flex(column, center, center);
                    background-color: rgb(31, 32, 33);
                    border-radius: 12px;
                    padding: 0 24px;
                    width: 100%;
            
                    .header {
                        @include flex(column, flex-start, center);
                        border-bottom: 1px solid rgba(51, 51, 52, 0.7);
                        width: 100%;
                        height: 68px;
            
                        h3 {
                            @include font(600, 16px, #fff);
                            text-align: left;
                        }
                    }
            
                    .list {
                        @include flex(column, center, center);
                        list-style: none;
                        padding: 0;
                        width: 100%;
            
                        .item {
                            @include flex(column, center, center);
                            border-bottom: 1px solid rgba(51, 51, 52, 0.7);
                            width: 100%;
                            height: 52px;
            
                            &:last-child {
                                border-bottom: none;
                            }
            
                            a {
                                @include flex(row, center, space-between);
                                text-decoration: none;
                                font-weight: 500;
                                color: #fff;
                                width: 100%;
            
                                .media-link-name {
                                    @include flex(row, center, center);
                                    gap: 8px;
                                }
            
                                button {
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
            
                                    i {
                                        font-size: 28px;
                                        color: #b5b5b5;
                                    }
                                }
                            }
                        }
                    }
                }
            
                .even-more-latest-posts {
                    @include flex(column, flex-start, center);
                    background-color: rgb(20, 21, 22);
                    padding: 24px 24px 12px;
                    margin-bottom: 24px;
                    border-radius: 12px;
                    width: 100%;
            
                    .header {
                        h3 {
                            @include font(600, 16px, #fff);
                            margin-bottom: 10px;
                        }
            
                        p {
                            @include font(300, 14px, rgb(142, 142, 146));
                            line-height: 18px;
                            margin-bottom: 10px;
                        }
                    }
            
                    .list {
                        @include flex(column, center, center);
                        position: relative;
                        width: 100%;
            
                        .post-link {
                            @include flex(row, center, space-between);
                            border-bottom: 1px solid rgba(73, 73, 75, 0.3);
                            width: 327px;
                            height: 66px;
                            cursor: pointer;
            
                            &:last-child {
                                border-bottom: none;
                            }
            
                            .title {
                                width: 88%;
            
                                h6 {
                                    @include font(400, 14px, rgba(255, 255, 255, 0.8));
                                    line-height: 19px;
                                }
                            }
            
                            .button-container {
                                button {
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
            
                                    i {
                                        font-size: 20px;
                                        color: #b5b5b5;
                                        transition: all 0.2s ease-in-out;
                                    }
                                }
                            }
            
                            &:hover .button-container button i {
                                color: #f15a22;
                            }
                        }
                    }
                }
            }
        }
    }
}

.video-outer-player {
    @include flex(column, center, center);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: 8;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease 0s;

    .player-wrapper {
        @include flex(row, flex-start, center);
        position: relative;
        width: 805px;
        height: 426px;
        cursor: default;

        .video-player {
            @include flex(column, center, center);
            border-radius: 18px;
            width: 760px;
            height: 426px;

            iframe {
                border-radius: inherit;
                width: 100%;
                height: 100%;
            }
        }

        #close-player {
            background-color: transparent;
            margin-left: 20px;
            border: none;
            cursor: pointer;

            i {
                font-size: 24px;
                color: #fff;
            }
        }
    }
}