@font-face {
    font-family: 'november';
    src: url('./november-font/NovemberGeLC-Light.woff2');
    font-weight: 300;
    font-display: auto;
}

@font-face {
    font-family: 'november';
    src: url('./november-font/NovemberGeLC-Regular.woff2');
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: 'november';
    src: url('./november-font/NovemberGeLC-Medium.woff2');
    font-weight: 500;
    font-display: auto;
}

@font-face {
    font-family: 'november';
    src: url('./november-font/NovemberGeLC-Bold.woff2');
    font-weight: 600;
    font-display: auto;
}

@font-face {
    font-family: 'november';
    src: url('./november-font/NovemberGeLC-Heavy.woff2');
    font-weight: 700;
    font-display: auto;
}

@font-face {
    font-family: 'november';
    src: url('./november-font/NovemberGeLC-Black.woff2');
    font-weight: 800;
    font-display: auto;
}