/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import './assets/fonts/fonts.scss';

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

body {
    font-family: 'november', sans-serif;
    background-color: #0D0E0F;
    color: #fff;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        width: 5px;
        height: 100%;
    }

    &::-webkit-scrollbar-track {
        background: #000;
    }

    &::-webkit-scrollbar-thumb {
        background: #F15A22;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}